@import '../../styles.less';

footer {
  width: 100%;
  background-color: #f2f9f3;

  .container {
    padding: 0;
    max-width: 1200px;

    .footer-sm {
      min-width: 12rem;
    }

    .footer-logo {
      img {
        cursor: pointer;
        width: 163px;
        height: 31px;
      }

      span {
        margin-top: 8px;
        width: 188px;
      }
    }

    .footer-pay{
      img {
        margin-right: 20px;
        &:nth-of-type(1){
          height: 21.79px;
        }
        &:nth-of-type(2){
          height: 16px;
        }
      }
      div.img {
        margin-right: 20px;
        height: 22px;
        background-repeat: no-repeat;
        &:nth-of-type(1) {
          width: 47px;
          background-image: url(../../assets/images/icons/apple-pay2.svg);
          background-position: center;
          background-size: auto 97%;

        }

        &:nth-of-type(2) {
          width: 50px;
          background-image: url(../../assets/images/icons/google-pay2.svg);
          background-position: center 57%;
          background-size: auto 200%;
        }

        &:nth-of-type(3) {
          width: 44px;
          background-image: url(../../assets/images/icons/samsung-pay2.svg);
          background-position: center;
          background-size: auto 790%;
        }
      }
      // .img{
      //   height: 22px;
      //   background-image: url(../../assets/images/payments.png);
      //   background-size: auto 214%;

      //   &:nth-of-type(1){
      //     width: 40px;
      //     background-position: -14px center;
      //   }
      //   &:nth-of-type(2){
      //     width: 46px;
      //     background-position: -83px center;
      //   }
      //   &:nth-of-type(3){
      //     width: 41px;
      //     background-position: -163px center;
      //   }

      //   &:nth-of-type(4) {
      //     width: 44px;
      //   }
      // }

      // .img {
      //   height: 22px;
      //   background-image: url(../../assets/images/payments.png);
      //   background-size: auto 174%;
      //   background-repeat: no-repeat;

      //   &:nth-of-type(1) {
      //     width: 54px;
      //     background-image: url(../../assets/images/apple_pay.webp);
      //     background-size: auto 100%;
      //   }
      //   &:nth-of-type(2) {
      //     width: 54px;
      //     background-image: url(../../assets/images/Gpay.svg);
      //     background-size: auto 213%;
      //     background-position: center;
      //   }
      //   &:nth-of-type(3) {
      //     width: 50px;
      //     background-position: -188px center;
      //     background-size: auto 247%;
      //   }
      // }
    }

    .link-sm {
      cursor: pointer;
      color: #7c9e94 !important;
      padding-bottom: 1px;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 0) 1px,
        #7c9e94 1px,
        rgba(0, 0, 0, 0) 2px,
        rgba(0, 0, 0, 0) 100px
      );
    }
  }
}

@media (max-width: 576px) {
  footer {
    .container {
      .footer-sm {
        width: 100%;
        order: 3;
      }

      .footer-logo {
        span {
          text-align: center;
        }
      }
    }
  }
}
