<footer>
  <div class="container h-100 py-5">
    <div class="row mx-0 h-100">
      <div
        class="footer-logo col-12 col-lg-3 d-flex flex-column justify-content-start align-items-center align-items-sm-start mb-4 mb-lg-0"
      >
        <img src="../../assets/images/logo.svg" />
        <span class="subt">Развивающие онлайн занятия для детей от 3 до 7 лет</span>
      </div>
      <div
        class="col-12 col-lg-9 d-flex flex-column justify-content-center align-items-center align-items-sm-start"
      >
        <div class="row mx-0 w-100">
          <div class="col-3 col-lg-3 socials p-0 mb-4 mr-xl-5">
            <img class="mr-3" src="../../assets/images/icons/vk.svg" />
            <img class="mr-3" src="../../assets/images/icons/youtube.svg" />
            <img class="mr-3" src="../../assets/images/icons/tiktok.svg" />
            <img class="mr-3" src="../../assets/images/icons/facebook.svg" />
            <img src="../../assets/images/icons/instagram.svg" />
          </div>
          <div class="col-12 col-sm-7 col-md-5 p-0 d-flex mb-4 ml-sm-4 mb-sm-2">
            <div class="mr-5">
              <a routerLink="/profile" class="menu-item d-block mb-2">Личный кабинет</a>
              <a routerLink="/project" class="menu-item">О проекте</a>
            </div>
            <div class="ml-xl-3 ml-lg-0">
              <a routerLink="/tasks" class="menu-item d-block mb-2">Упражнения</a>
              <a routerLink="/rates" class="menu-item">Тарифы</a>
            </div>
          </div>
          <div class="col p-0 mb-3 mb-sm-0">
            <button class="button-sec">Помощь</button>
          </div>
        </div>
        <div class="row mx-0 mt-3 w-100">
          <div
            class="col-12 col-md-8 mr-xl-5 p-0 footer-pay d-flex flex-column flex-sm-row mb-4 mb-md-0 align-items-start align-items-sm-center"
          >
            <span class="subt mr-3 mb-2 mb-sm-0">Оплатить можно:</span>
            <div class="d-flex">
              <img class="mr-3" src="../../assets/images/icons/master-card.svg" />
              <img class="mr-3" src="../../assets/images/icons/visa.svg" />
              <img class="mr-3" src="../../assets/images/icons/apple-pay.png" />
              <img class="mr-3" src="../../assets/images/icons/google-pay.png" />
              <img class="mr-3" src="../../assets/images/icons/samsung-pay.png" />
            </div>
          </div>
          <div class="col-12 col-md d-flex p-0 flex-column ml-md-4 align-items-start">
            <a class="subt link-sm mb-1">Политика конфиденциальности</a>
            <a class="subt link-sm mb-1">Пользовательское соглашение</a>
            <a class="subt link-sm mb-1">Договор публичной оферты</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
