<div class="footer">
    <div class="footer-logo">
        <img src="../../assets/images/лого.png">
        <span class="subt">Развивающие онлайн занятия для детей от 3 до 7 лет</span>
    </div>
    <div class="footer-center">
        <div class="footer-top">
            <div class="footer-icons">
                <img src="../../assets/images/icons/vk.svg">
                <img src="../../assets/images/icons/youtube.svg">
                <img src="../../assets/images/icons/tiktok.svg">
                <img src="../../assets/images/icons/facebook.svg">
                <img src="../../assets/images/icons/instagram.svg">
            </div>
            <div class="footer-nav d-flex flex-wrap">
                <span class="menu-item">Личный кабинет</span>
                <span class="menu-item">Упражнения</span>
                <span class="menu-item">О проекте</span>
                <span class="menu-item">Тарифы</span>
            </div>
        </div>
        <div class="footer-pay">
            <span class="subt">Оплатить можно:</span>
            <img src="../../assets/images/icons/master-card.svg" style="width: 35,16px; height: 21,79px;">
            <img src="../../assets/images/icons/visa.svg" style="width: 35.13px; height: 11.44px;">
            <img src="../../assets/images/icons/apple-pay.svg" style="width: 37px; height: 22px;">
            <img src="../../assets/images/icons/google-pay.svg" style="width: 44px; height: 22px;">
            <img src="../../assets/images/icons/samsung-pay.svg" style="width: 39px; height: 22px;">
        </div>
    </div>
    <div class="footer-buttons">
        <button class="button-sec">Помощь</button>
        <div class="footer-docs">
            <a class="subt">Политика конфиденциальности</a>
            <a class="subt">Пользовательское соглашение</a>
            <a class="subt">Договор публичной оферты</a>
        </div>
    </div>
</div>