<div class="d-flex align-items-center mb-3">
  <div [ngClass]="{ 'd-none': !value }">
    <img class="file-img" #image />
  </div>
  
  <img *ngIf="type == 0 && !value" src="../../../assets/images/icons/user-child-sm.svg" />
  <img *ngIf="type == 1 && !value" src="../../../assets/images/icons/user-parent.svg" />
  
  <span class="text text-muted ml-3" *ngIf="!value" (click)="onUploadFileClick($event)"
    >Добавить фото</span
  >
  <span class="text text-muted ml-3" *ngIf="value" (click)="onRemoveFileClick($event)">Удалить фото</span>
</div>

<div class="file-inputs" #inputFileContainer></div>
