<div class="d-flex align-items-center mb-3">
  <div [ngClass]="{ 'd-none': !value }">
    <img
      *ngIf="!isSound; else name"
      [src]="getSrc()"
      class="img-placeholder rounded-circle"
      #image
    />
    <ng-template #name
      ><span (click)="audio ? stop() : play(imagePath)">{{
        audio ? 'Остановить' : value?.name
      }}</span></ng-template
    >
  </div>

  <ng-container *ngIf="!value">
    <ng-content></ng-content>
  </ng-container>

  <span class="text text-muted ml-3" *ngIf="!value" (click)="onUploadFileClick($event)"
    >Добавить {{ isSound ? 'звук' : 'фото' }}</span
  >
  <span class="text text-muted ml-3" *ngIf="value" (click)="onRemoveFileClick($event)"
    >Удалить {{ isSound ? 'звук' : 'фото' }}</span
  >
</div>

<div class="file-inputs" #inputFileContainer></div>
