<div class="container d-flex justify-content-center flex-wrap">
  <ng-container *ngFor="let task of tasks; let index = index">
    <div class="task-container d-flex justify-content-center">
      <button
        [disabled]="!task.isActive && !task.allSolved"
        class="task"
        [routerLink]="[task.id]"
        [ngClass]="{
          active: task.isActive,
          'task-lg': index === 0 && task.isActive,
          solved: task.allSolved
        }"
      >
        <img class="task-img" [src]="'../../../../assets/images/' + (task.type | taskImage)" />
        <span class="task-label">{{ task.type | taskLabel }}</span>
        <span class="points d-none">+{{ task.questionsCount }}</span>
      </button>
    </div>
    <div class="break" *ngIf="isBreakShown(index)"></div>
  </ng-container>
</div>
