section.fifth {
  min-height: 50rem;
  position: relative;
  background-image: url('../../../../assets/images/pelican.png');
  background-repeat: no-repeat;
  background-size: auto calc(100% - 30rem);
  background-position: right 90%;
  .slider {
    width: 33rem;
    height: 46rem;
    margin-left: 3rem;
    margin-top: 5rem;
  }
  .cloud {
    position: absolute;
    top: 20rem;
    left: 30rem;
    background-image: url(../../../../assets/images/cloud3.png);
    width: 25rem;
    height: 7rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
  }
}
