section.first {
  .row {
    max-width: 1000px;
    margin: 0 auto;
    .col-6 {
      display: flex;
      justify-content: center;

      h4 {
        text-transform: uppercase;
      }

      img{
        height: 115px;
      }
    }
  }
}

@media (max-width: 991px) {
  section.first {
    .row {
      .col-6 {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            font-size: 14px;
          }

          * {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  section.first {
    h2{
      padding-left: 0;
      padding-right: 0;

      span.text-orange {
        color: inherit;
      }
    }
    .row {
      .col-6 {
        div {
          p {
            font-size: 14px;
          }
        }
        img {
          height: 60px;
        }
      }
    }
  }
}
