section.fourth {
  margin-bottom: 30px;
  h2 {
    max-width: 54rem;
  }
  .container {
    padding: 0;
  }
  .content {
    padding-top: 2rem;
    min-height: 40rem;
    position: relative;

    .left-content {
      margin-left: 60px;
      position: relative;
      background-image: url('../../../../assets/images/cloud2.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 18rem;
      height: 20rem;

      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 8rem;
      display: flex;
      justify-content: center;

      img {
        position: absolute;
        top: -2rem;
      }
    }
    .background-content {
      height: 40rem;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: no-repeat url(../../../../assets/images/grass_speredi.svg) left 69% top 77% / auto
          21%,
        no-repeat url(../../../../assets/images/sunduk.png) left 63% top 70% / auto 22%,
        no-repeat url(../../../../assets/images/tigr_s_kaskoy.png) left 40% top 44% / auto 62%;
      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(-1, 1);
        opacity: 0.6;
        background: no-repeat url(../../../../assets/images/trava_4.png) left 73% top 74% / auto 27%,
          no-repeat url(../../../../assets/images/trava_4.png) left 45% top 67% / auto 26%;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(-1, 1);
        background: no-repeat url(../../../../assets/images/acuarel_big.png) left 0 top 26rem /
            100% auto,
          no-repeat url(../../../../assets/images/grass_speredi.svg) left 71% top 73% / auto 22%;
      }
    }
    .message {
      z-index: 6;
      width: 28rem;
      position: absolute;
      right: 60px;
      top: 3rem;
    }
  }
}

@media (max-width: 1200px) {
  section.fourth {
    margin-bottom: 250px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .background-content {
        background: no-repeat url(../../../../assets/images/grass_speredi.svg) left 71% top 77% /
            auto 21%,
          no-repeat url(../../../../assets/images/sunduk.png) left 72% top 70% / auto 22%,
          no-repeat url(../../../../assets/images/tigr_s_kaskoy.png) left 40% top 44% / auto 62%;
        &::before {
          background: no-repeat url(../../../../assets/images/trava_4.png) left 84% top 74% / auto
              27%,
            no-repeat url(../../../../assets/images/trava_4.png) left 39% top 67% / auto 26%;
        }
        &::after {
          background: no-repeat url(../../../../assets/images/acuarel_big.png) center top 28rem /
              81% auto,
            no-repeat url(../../../../assets/images/grass_speredi.svg) left 78% top 73% / auto 22%;
        }
      }
      .left-content {
        margin-left: 0px;
        position: absolute;
        padding-left: 3.5rem;
        z-index: 5;
        right: 5rem;
        background-image: url('../../../../assets/images/cloud4.png');
        background-size: 100% 100%;
      }
      .message {
        margin: 0 auto;
        margin-top: 32rem;
        width: 70%;
        left: auto;
        right: auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
    max-width: unset;
  }
  section.fourth {
    .content {
      .background-content {
        &::after {
          background: no-repeat url(../../../../assets/images/acuarel_big.png) left 0 top 26rem /
              100% auto,
            no-repeat url(../../../../assets/images/grass_speredi.svg) left 78% top 73% / auto 22%;
        }
      }

      .left-content {
        right: 1rem !important;
      }
      .message {
        right: 1rem;
        left: 1rem;
      }
    }
  }
}

@media (max-width: 767px) {
  section.fourth {
    .content {
      .background-content {
        background: no-repeat url(../../../../assets/images/grass_speredi.svg) left 71% top 77% /
            auto 21%,
          no-repeat url(../../../../assets/images/sunduk.png) left 72% top 70% / auto 22%,
          no-repeat url(../../../../assets/images/tigr_s_kaskoy.png) left 30% top 44% / auto 50%;
        &::before {
          background: no-repeat url(../../../../assets/images/trava_4.png) left 84% top 74% / auto
              27%,
            no-repeat url(../../../../assets/images/trava_4.png) left 39% top 67% / auto 26%;
        }
        &::after {
          background: no-repeat url(../../../../assets/images/acuarel_big.png) left 0 top 26rem /
              100% auto,
            no-repeat url(../../../../assets/images/grass_speredi.svg) left 78% top 73% / auto 22%;
        }
      }

      .message {
        margin-top: 32rem;
      }
    }
  }
}

@media (max-width: 576px) {
  section.fourth {
    margin-bottom: 220px;
    h2 {
      font-size: 20px;
    }
    .section-label {
      margin-bottom: 0;
    }
    .content {
      padding: 0;
      .background-content {
        background: no-repeat url('../../../../assets/images/grass_speredi.svg') right -1% top 74% /
            auto 17%,
          no-repeat url('../../../../assets/images/tigr_s_kaskoy.png') left 2% top 52% / auto 40%,
          no-repeat url('../../../../assets/images/sunduk.png') left 69% top 70% / auto 16%;
        &::before {
          background: no-repeat url(../../../../assets/images/trava_4.png) left 84% top 74% / auto
              27%,
            no-repeat url(../../../../assets/images/trava_4.png) left 39% top 67% / auto 26%;
        }
        &::after {
          background: no-repeat url(../../../../assets/images/acuarel_big.png) left 0 top 28rem /
              100% auto,
            no-repeat url(../../../../assets/images/grass_speredi.svg) right -2rem top 73% / auto 22%;
        }
      }
      .left-content {
        right: 0 !important;
        top: 6rem;
        width: 14rem;
        height: 16rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
        padding-right: 1.5rem;
        img {
          height: 7rem;
        }
        p {
          font-size: 14px !important;
          letter-spacing: -0.02em;
        }
      }

      .message {
        width: 90%;
        margin-top: 31rem;
        padding: 20px 21px;
      }
    }
  }
}
