section.second {
  margin-bottom: 10rem;
  .section-body {
    display: flex;
    justify-content: flex-end;
    .content {
      width: 57%;

      .video {
        height: 18rem;
        width: 35rem;
        padding-bottom: 1.5rem;
        padding-top: 3rem;
        background: url(../../../../assets/images/layer231.png) no-repeat -20% 270%,
          url(../../../../assets/images/layer232.png) no-repeat 30% 20%,
          url(../../../../assets/images/list.png) no-repeat right center,
          url(../../../../assets/images/list2.png) no-repeat right center;
        .cloud {
          position: relative;
          left: -5rem;
          background-image: url(../../../../assets/images/cloud.svg);
          background-repeat: no-repeat;
          background-size: contain;
          width: 35rem;
          height: 12rem;
          padding-left: 5rem;
          padding-top: 2.5rem;
          .btn {
            margin-right: 1rem;
            min-width: 5rem;
            min-height: 2.1rem;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0.5rem;
          }
          p {
            margin-bottom: 0.4rem;
          }
        }
      }

      .messages {
        .message {
          width: 20rem;
        }
      }
    }
    min-height: 40rem;
    background-image: url('../../../../assets/images/giraffe.png');
    background-repeat: no-repeat;
    background-size: auto calc(100% - 3rem);
    background-position: left bottom;
  }
}

@media (max-width: 1200px) {
  section.second {
    .section-body {
      background-size: 50% auto;
      background-position: left top;
      justify-content: center !important;
      .content {
        width: 100%;
        .messages {
          margin-top: 15rem;
          justify-content: center;
        }
        .video {
          width: auto !important;
          background: none !important;
          margin-top: -5rem;
          margin-left: 35rem;
          .cloud {
            background-image: url(../../../../assets/images/cloud4.png) !important;
            width: 21rem;
            padding-right: 3rem;
            padding-left: 4rem;
            height: 22rem !important;

            .d-flex {
              flex-direction: column;
              align-items: center;

              .btn {
                min-width: 5rem;
                min-height: 5rem;
                margin-bottom: 1rem;
                margin-right: 0;
              }

              p {
                text-align: center;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  section.second {
    .section-body {
      .content {
        .messages {
          margin-top: 10rem;
        }
        .video {
          margin-left: 25rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  section.second {
    .section-body {
      background-size: 70% auto;
      .content {
        .messages {
          margin-top: 10rem;
        }
        .video {
          margin-left: 22rem;
          width: 2rem !important;
          display: inline-block;
          .cloud {
            background-size: 100% 100%;
            margin-left: 0;
            width: 15rem;
            height: 19rem !important;
            margin-bottom: -5rem;
            p {
              font-size: 12px;
            }

            .d-flex {
              .btn {
                min-width: 3rem;
                min-height: 3rem;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  section.second {
    .section-body {
      background-size: 23rem auto;
      background-position: -10rem top;
      .content {
        .messages {
          margin-top: 10rem;
        }
        .video {
          margin-left: 50vw;
          .cloud {
            background-size: 100% 100%;
            margin-left: 0;
            width: 15rem;
            height: 19rem !important;
            margin-bottom: -5rem;
            p {
              font-size: 12px;
            }

            .d-flex {
              .btn {
                min-width: 3rem;
                min-height: 3rem;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
