section.second {
  margin-bottom: 10rem;
  .container {
    max-width: 1600px;
    background-image: url('../../../../assets/images/giraffe.png');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 4rem 158%;

    h2 {
      max-width: 58rem;
    }

    .section-label {
      margin-bottom: 35px;
    }

    .section-body {
      display: flex;
      justify-content: flex-end;
      .content {
        width: 57%;

        .video {
          height: 18rem;
          width: 35rem;
          padding-bottom: 1.5rem;
          padding-top: 3rem;
          background: url(../../../../assets/images/layer231.png) no-repeat -20% 270%,
            url(../../../../assets/images/layer232.png) no-repeat 30% 20%,
            url(../../../../assets/images/list.png) no-repeat right center,
            url(../../../../assets/images/list2.png) no-repeat right center;
          .cloud {
            position: relative;
            left: -5rem;
            background-image: url(../../../../assets/images/cloud.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 35rem;
            height: 12rem;
            padding-left: 5rem;
            padding-top: 2.5rem;
            .btn {
              margin-right: 1rem;
              min-height: 5rem;
              max-width: 5rem;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 0.5rem;
            }
            p {
              margin-bottom: 0.4rem;
            }
          }
        }

        .messages {
          .message {
            width: 20rem;
          }
        }
        .slider {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  section.second {
    .container {
      .section-body {
        .content {
          .video {
            margin-left: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 1330px) {
  section.second {
    .container {
      .section-body {
        .content {
          .video {
            margin-left: 120px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  section.second {
    .container {
      background-size: auto 45%;
      background-position: 20% 30%;
      .section-body {
        justify-content: center !important;
        .content {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .messages {
            margin-top: 15rem;
            justify-content: center;
            padding: 100px;
          }
          .video {
            width: auto !important;
            background: none !important;
            margin-top: -5rem;
            margin-left: 35rem;
            .cloud {
              background-image: url(../../../../assets/images/cloud4.png) !important;
              width: 21rem;
              padding-right: 3rem;
              padding-left: 4rem;
              height: 22rem !important;

              .d-flex {
                flex-direction: column;
                align-items: center;

                .btn {
                  min-width: 5rem;
                  min-height: 5rem;
                  margin-bottom: 1rem;
                  margin-right: 0;
                }

                p {
                  text-align: center;
                  margin-bottom: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  section.second {
    .container {
      background-size: auto 55%;
      background-position: 14% center;
      .section-body {
        padding-top: 2rem;
        .content {
          .messages {
            display: none !important;
          }
          .slider {
            margin-top: 18rem !important;
            margin: 0 auto;
            max-width: 34rem;
            margin-top: 10rem;
            display: flex;

            .carousel-indicators {
              margin-top: 30px !important;
            }
          }
          .video {
            margin-left: 30rem;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  section.second {
    .container {
      background-position: 7% 68%;
      .section-body {
        .content {
          .video {
            margin-left: 17rem;
            width: 2rem !important;
            display: inline-block;
            .cloud {
              background-size: 100% 100%;
              margin-left: 0;
              width: 15rem;
              height: 19rem !important;
              margin-bottom: -5rem;
              p {
                font-size: 12px;
              }

              .d-flex {
                .btn {
                  min-width: 3rem;
                  min-height: 3rem;
                  margin-bottom: 1rem;
                }
              }
            }
          }
          .slider {
            margin-top: 10rem !important;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  section.second {
    .container {
      background-size: 28rem auto;
      background-position: -12.5rem 11rem;
      position: relative;
      padding: 0;
      &::before{
        content: '';
        width: 100%;
        height: 10rem;
        position: absolute;
        bottom: -10rem;
        right: 0;
        background-image: url(../../../../assets/images/trava_ackground.png);
        background-repeat: no-repeat;
        background-position: right 1rem;
      }
      h2 {
        padding: 0 26px !important;
        font-size: 20px;

      }
      .section-body {
        .content {
          padding-left: 0;
          .video {
            padding-top: 35px !important;
            margin-left: 5rem;
            .cloud {
              padding: 30px 30px 20px 45px;
              background-size: 100% 100%;
              margin-left: 0;
              width: 14rem;
              height: 14rem !important;
              margin-bottom: -5rem;
              p {
                font-size: 12px;
                margin-bottom: 10px !important;
              }

              span {
                font-size: 12px;
              }

              .d-flex {
                .btn {
                  width: 49px;
                  height: 49px;
                  margin-bottom: 1rem;
                }
              }
            }
          }
          .slider {
            margin-top: 192px !important;
            height: 120px !important;
            padding-right: 30px;
            padding-left: 30px;

            .message {
              padding: 24px auto 24px 66px;
            }

            .prev {
              left: 15px;
            }
            .next {
              right: 15px;
            }
          }
        }
      }
    }
  }
}
