section.sixth {
  min-height: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  .content {
    position: absolute;
    bottom: 5rem;
    width: 30rem;

    .message {
      padding: 3rem 3rem 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      * {
        text-align: center;
      }

      .btn {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  margin-right: -10rem;
  margin-left: -10rem;

  background: url(../../../../assets/images/slon_with_mono.svg) no-repeat 20% 80%,
    url(../../../../assets/images/tigr.svg) no-repeat 75% 70%,
    url(../../../../assets/images/grass_beh2.png) no-repeat 15% 80%,
    url(../../../../assets/images/grass_beh.svg) no-repeat 100% bottom;

  img {
    position: absolute;

    &.first-grass {
      left: 2rem;
      bottom: 2rem;
    }
    &.second-grass {
      right: 8rem;
      bottom: 3rem;
    }
  }
}
