section.third {
  margin-bottom: 10rem;
  .groups {
    .group {
      padding-top: 7rem;
      &:last-child {
        .content {
          img {
            top: -7.5rem;
          }
        }
      }
      .content {
        position: relative;
        background-color: @light-grey;
        padding: 15rem 3.5rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          position: absolute;
          top: -4rem;
        }
        h2 {
          margin-bottom: 2rem;
        }
        ul {
          margin-bottom: 2rem;
        }
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
