section.third {
  margin-bottom: 10rem;
  .slider {
    display: none;
  }
  .groups,
  .slider {
    .group {
      padding-top: 7rem;
      &:last-child {
        .content {
          img {
            top: -7.5rem;
          }
        }
      }
      .content {
        position: relative;
        background-color: @light-grey;
        padding: 15rem 3.5rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          position: absolute;
          top: -4rem;
        }
        h2 {
          margin-bottom: 2rem;
        }
        ul {
          margin-bottom: 2rem;
        }
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  section.third {
    .slider {
      display: flex !important;
      padding-left: 10px;
      padding-right: 10px;
    }
    .group {
      .content {
        padding-top: 5rem !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        p {
          font-size: 14px;
        }
        ul{
          margin-left: 18px;
          margin-right: 18px;
        }
      }
    }
    .groups {
      display: none;
    }
  }
}
