<div class="profile" [ngClass]="{ shadow: showShadow, inactive: inactive }" *ngIf="user">
  <img src="../../../../assets/images/icons/user-child.svg" />
  <div class="profile-content">
    <div class="profile-label">
      <span>{{ child ? 'Ребёнок' : 'Родитель' }}</span>
      <ng-container *ngIf="showActions"
        ><img src="../../../../assets/images/icons/pen.svg" (click)="editItem()" />
        <img src="../../../../assets/images/icons/cross2.svg" (click)="deleteItem()"
      /></ng-container>
    </div>
    <div class="profile-info flex-column flex-sm-row">
      <h4 class="mt-1 mt-sm-0 mb-1">{{ user.name }} {{ user.surname }}</h4>

      <span class="subt"
        ><ng-container *ngIf="child; else email"
          >{{ child.age }} {{ getAgeLabel(child.age) }}</ng-container
        ></span
      >
    </div>
  </div>
</div>

<ng-template #email>
  {{ parent.mail }}
</ng-template>
