<div class="profile" [ngClass]="{ shadow: showShadow, inactive: inactive }" *ngIf="user">
  <img src="../../../../assets/images/icons/user-child.svg" />
  <div class="profile-content">
    <div class="profile-label">
      <span>Ребёнок</span>
      <ng-container *ngIf="showActions"
        ><img src="../../../../assets/images/icons/pen.svg" />
        <img src="../../../../assets/images/icons/cross2.svg" (click)="deleteItem()"
      /></ng-container>
    </div>
    <div class="profile-info">
      <h4>{{ user.name }} {{ user.surname }}</h4>
      <span class="subt">{{ user.age }} {{ getAgeLabel(user.age) }}</span>
    </div>
  </div>
</div>
