@import '../../../variables.less';
@import './styles/first-section.less';
@import './styles/second-section.less';
@import './styles/third-section.less';
@import './styles/fourth-section.less';
@import './styles/fifth-section.less';
@import './styles/sixth-section.less';

header {
  padding-top: 3rem;
  padding-bottom: 5.7rem;
  margin-bottom: 150px;

  .container {
    padding-top: 154px;
    padding-bottom: 40px;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      min-width: 1110px;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url('../../../assets/images/slon.png');
      background-repeat: no-repeat;
      background-size: auto calc(100% - 16.6rem);
      background-position: right 14% top 98%;
    }

    .content {
      position: relative;
      z-index: 10;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        margin-bottom: 28px;
        color: @orange;
        p {
          color: @dark-green;
        }
      }

      h3 {
        margin-bottom: 3rem;
        line-height: 30px;
        padding-left: 2px;
        letter-spacing: -0.01em;
      }

      ul {
        margin-bottom: 48px;

        li {
          margin-bottom: 16px;
        }
      }

      .btn-block {
        flex: 0;
        display: inline-flex;
        img,
        span {
          position: absolute;
        }
        img {
          bottom: -62px;
          left: calc(30% + 13px);
        }
        span {
          bottom: -128px;
          left: calc(30% + 65px);
          max-width: 168px;

          text-align: start;

          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
}

section {
  margin-bottom: 150px;
  
  .cloud-img {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.container {
  max-width: 1200px;
  padding: 0;
}

// @media (max-width: 1450px) {
//   header {
//     .container {
//       &::before {
//         background-size: auto calc(100% - 20rem);
//         background-position: right 10% top 90%;
//       }
//     }
//   }
// }

@media (max-width: 1200px) {
  header {
    padding-top: 10rem;
    h1 {
      font-size: 40px;
    }
    
    h3{
      br{
        display: none;
      }
    }
    .container {
      background-size: 60% auto;
      background-position: center top;
      padding-top: 33rem;
      display: flex;
      justify-content: center;
      background-image: url('../../../assets/images/slon.png');
      background-repeat: no-repeat;

      &::before {
        display: none;
      }

      .content {
        justify-content: center;
        text-align: center;
        align-items: center;

        ul {
          text-align: left;
        }

        .btn-block {
          justify-content: center;

          img {
            left: 50%;
          }
          span {
            left: calc(50% + 3rem);
            max-width: 9.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    padding-top: 4rem;
    .container {
      background-size: 70% auto;
      padding-top: 30rem;
      .content {
        width: 90% !important;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .container {
      padding-top: 24rem;
    }
  }
}

@media (max-width: 576px) {
  .container {
    &:nth-child(5) {
      padding: 0;
    }
  }
  header {
    margin-bottom: 8rem;
    .container {
      background-size: 30rem auto;
      background-position: center 10%;
      padding-top: 25rem;
      h1 {
        font-size: 27px;
      }
      .content {
        min-height: 520px;
        width: 100% !important;
        position: relative;

        h3 {
          padding: 0;
        }
        ul {
          li {
            padding-left: 6px;
          }
        }

        .btn-block {
          display: flex;
          justify-content: center;
          min-height: 80px;
          &::before {
            content: '';
            width: 100%;
            height: 10rem;
            position: absolute;
            top: calc(100% + 3rem);
            left: -15px;
            background-image: url(../../../assets/images/lists_background.png);
            background-repeat: no-repeat;
            background-position: left 1rem;
          }
          img {
            left: 20%;
          }
          span {
            left: calc(20% + 50px);
            max-width: 12rem;
          }
        }
      }
    }
  }
}
