<header>
  <div class="content">
    <h1>
      <p class="m-0">Подготовка к школе,</p>
      не выходя из дома!
    </h1>
    <h3>
      Занятия для детей от 3 до 7 лет в интересном и занимательном формате без капризов и слез
    </h3>
    <ul class="check-mark">
      <li class="text">Обучение без рекламы и внешних ссылок</li>
      <li>Задания выполняются без помощи взрослых</li>
      <li>Все упражнения озвучены голосом</li>
      <li>Система мотивации и поощрения в виде подарков</li>
    </ul>
    <div class="position-relative btn-block">
      <a class="btn btn-primary">Начать заниматься</a>
      <img src="../../../assets/images/line.svg" alt="" />
      <span class="subt"
        >Просто попробуйте,<br />
        а решите потом: заниматься ли ребенку дальше в Джунгликах!</span
      >
    </div>
  </div>
</header>
<section>
  <h2 class="section-header">
    РАЗВИТИЕ РЕБЁНКА В <span class="text-orange">РАЗНЫХ НАПРАВЛЕНИЯХ</span>
  </h2>
  <p class="section-label">По уникальной <a class="link-sm" routerLink="/project">методике Джунгликов</a></p>
</section>
