@import '../../../variables.less';
@import './styles/first-section.less';
@import './styles/second-section.less';
@import './styles/third-section.less';
@import './styles/fourth-section.less';
@import './styles/fifth-section.less';
@import './styles/sixth-section.less';

header {
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin-bottom: 12rem;

  .container {
    background-image: url('../../../assets/images/slon.png');
    background-repeat: no-repeat;
    background-size: auto calc(100% - 9rem);
    background-position: right -10% top 145%;
    padding-top: 10rem;
    padding-bottom: 40px;

    .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        margin-bottom: 2rem;
        color: @orange;
        p {
          color: @dark-green;
        }
      }

      h3 {
        margin-bottom: 3rem;
      }

      ul {
        margin-bottom: 48px;

        li {
          margin-bottom: 16px;
        }
      }

      .btn-block {
        flex: 0;
        display: inline-flex;
        img,
        span {
          position: absolute;
        }
        img {
          bottom: -56px;
          left: calc(30% + 16px);
        }
        span {
          bottom: -100px;
          left: calc(30% + 65px);
          max-width: 9.5rem;

          text-align: start;
        }
      }
    }
  }
}

section {
  .cloud-img {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

@media (max-width: 1200px) {
  header {
    padding-top: 10rem;
    .container {
      background-size: 65% auto;
      background-position: center top;
      padding-top: 30rem;
      display: flex;
      justify-content: center;

      .content {
        justify-content: center;
        text-align: center;
        align-items: center;

        ul {
          text-align: left;
        }

        .btn-block {
          justify-content: center;

          img {
            left: 50%;
          }
          span {
            left: calc(50% + 3rem);
            max-width: 9.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    padding-top: 4rem;
    .container {
      background-size: 75% auto;
      padding-top: 25rem;
      .content {
        width: 90% !important;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .container {
      background-size: 85% auto;
      padding-top: 21rem;
    }
  }
}

@media (max-width: 576px) {
  .container {
    &:nth-child(5) {
      padding: 0;
    }
  }
  header {
    margin-bottom: 8rem;
    .container {
      background-size: 22rem auto;
      background-position: center 10%;
      padding-top: 20rem;
      h1 {
        font-size: 28px;
      }
      .content {
        min-height: 520px;
        width: 100% !important;
        position: relative;

        h3 {
          padding: 0;
        }
        ul {
          li {
            padding-left: 6px;
          }
        }

        .btn-block {
          display: flex;
          justify-content: center;
          min-height: 80px;
          &::before {
            content: '';
            width: 100vw;
            height: 10rem;
            position: absolute;
            top: calc(100% + 3rem);
            left: -15px;
            background-image: url(../../../assets/images/lists_background.png);
            background-repeat: no-repeat;
            background-position: left 1rem;
          }
          img {
            left: 20%;
          }
          span {
            left: calc(20% + 50px);
            max-width: 12rem;
          }
        }
      }
    }
  }
}
