<div class="container">
  <header>
    <div class="content">
      <h1>
        <p class="m-0">Подготовка к школе,</p>
        не выходя из дома!
      </h1>
      <h3>
        Занятия для детей от 3 до 7 лет в интересном и занимательном формате без капризов и слез
      </h3>
      <ul class="check-mark">
        <li class="text">Обучение без рекламы и внешних ссылок</li>
        <li class="text">Задания выполняются без помощи взрослых</li>
        <li class="text">Все упражнения озвучены голосом</li>
        <li class="text">Система мотивации и поощрения в виде подарков</li>
      </ul>
      <div class="position-relative btn-block">
        <a class="btn btn-primary">Начать заниматься</a>
        <img src="../../../assets/images/line.svg" alt="" />
        <span class="subt"
          >Просто попробуйте,<br />
          а решите потом: заниматься ли ребенку дальше в Джунгликах!</span
        >
      </div>
    </div>
  </header>
</div>
<div class="container">
  <section class="first">
    <h2 class="section-header">
      РАЗВИТИЕ РЕБЁНКА В <span class="text-orange">РАЗНЫХ НАПРАВЛЕНИЯХ</span>
    </h2>
    <p class="section-label">
      По уникальной <a class="link-sm" routerLink="/project">методике Джунгликов</a>
    </p>
    <div class="row">
      <div class="mb-3 col-6 col-lg-3">
        <div>
          <img class="mb-4" src="../../../assets/images/book.png" alt="" />
          <h4>Чтение и грамота</h4>
          <p class="text m-0">
            Основы чтения<br />
            и грамматики
          </p>
        </div>
      </div>
      <div class="mb-3 col-6 col-lg-3">
        <div>
          <img class="mb-4" src="../../../assets/images/light.png" alt="" />
          <h4>мышление</h4>
          <p class="text m-0">
            Способность рассуждать,<br />
            познавать новое
          </p>
        </div>
      </div>
      <div class="mb-3 col-6 col-lg-3">
        <div>
          <img class="mb-4" src="../../../assets/images/logic.png" alt="" />
          <h4>логика</h4>
          <p class="text m-0">
            Поиск нестандартных<br />
            решений задач
          </p>
        </div>
      </div>
      <div class="mb-3 col-6 col-lg-3">
        <div>
          <img class="mb-4" src="../../../assets/images/pencil.png" alt="" />
          <h4>креативность</h4>
          <p class="text m-0">
            Развитие фантазии<br />
            и воображения
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <section class="second">
    <h2 class="section-header">
      4 причины, почему ваш ребенок будет<br />
      развиваться <span class="text-orange">в 2-3 раза быстрее сверстников</span>
    </h2>
    <p class="section-label">Еще никогда учиться не было так интересно!</p>
    <div class="section-body">
      <div class="content">
        <div class="video">
          <div class="cloud">
            <div class="d-flex">
              <button class="btn btn-primary">
                <img src="../../../assets/images/icons/triangle.svg" alt="" />
              </button>
              <div class="d-flex flex-column justify-content-center">
                <p class="text">
                  Посмотрите короткое видео о нашей замечательной стране Джунгликов
                </p>
                <span class="text-b">1 мин 38 сек</span>
              </div>
            </div>
          </div>
        </div>
        <div class="messages d-flex flex-wrap">
          <div class="message mr-3 mb-3">
            <div class="message-number">1</div>
            <p class="message-content">
              В упражнениях задействованы <b>все области образования,</b> необходимые для развития
              ребенка
            </p>
          </div>
          <div class="message mb-3">
            <div class="message-number">2</div>
            <p class="message-content">
              Ребёнок научится <b>разумному использованию гаджета</b> для обучения
            </p>
          </div>
          <div class="message mr-3">
            <div class="message-number">3</div>
            <p class="message-content">
              Задания в игровой форме <b>заинтересуют любого ребенка</b>
            </p>
          </div>
          <div class="message">
            <div class="message-number">4</div>
            <p class="message-content">
              Динамичное обучение <b>по 20-30 минут в день</b> заинтересует ребенка и не даст
              скучать
            </p>
          </div>
        </div>
        <div class="slider position-relative">
          <ngb-carousel [animation]="false" [interval]="0" [showNavigationArrows]="false" #carousel>
            <ng-template ngbSlide>
              <div class="message">
                <div class="message-number">1</div>
                <p class="message-content">
                  В упражнениях задействованы <b>все области образования,</b> необходимые для
                  развития ребенка
                </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="message">
                <div class="message-number">2</div>
                <p class="message-content">
                  Ребёнок научится <b>разумному использованию гаджета</b> для обучения
                </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="message">
                <div class="message-number">3</div>
                <p class="message-content">
                  Задания в игровой форме <b>заинтересуют любого ребенка</b>
                </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="message">
                <div class="message-number">4</div>
                <p class="message-content">
                  Динамичное обучение <b>по 20-30 минут в день</b> заинтересует ребенка и не даст
                  скучать
                </p>
              </div>
            </ng-template>
          </ngb-carousel>
          <button class="btn btn-primary prev" (click)="carousel.prev()">
            <img src="../../../../assets/images/icons/arrow-right.svg" alt="" />
          </button>
          <button class="btn btn-primary next" (click)="carousel.next()">
            <img src="../../../../assets/images/icons/arrow-right.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <section class="third">
    <h2 class="section-header">
      Программа подготовлена<br />
      для <span class="text-orange">2-х возрастных групп</span>
    </h2>
    <p class="section-label">Выберите возраст ребенка и погрузитесь в увлекательный мир знаний</p>
    <div class="contentt">
      <div class="row groups">
        <div class="col group mb-5 mb-lg-0">
          <div class="content">
            <img src="../../../assets/images/monkey_with_cubs.png" alt="" />
            <h2>Малыши (3-5 лет)</h2>
            <div>
              <p class="text-b">При помощи наших заданий детки освоят:</p>
              <ul class="check-mark">
                <li class="text">Цифры и арифметические знаки</li>
                <li class="text">Цвета и формы</li>
                <li class="text">Буквы, звуки и слоги</li>
                <li class="text">Фигуры и их признаки</li>
                <li class="text">Название животных и др.</li>
              </ul>
              <p class="text">
                Также наши упражнения развивают логику, мышление, внимание и память ребёнка.<br />
                А главное — это интересно и эффективно!
              </p>
            </div>
            <a routerLink="/profile" class="btn btn-primary">НАЧАТЬ ЗАНИМАТЬСЯ</a>
          </div>
        </div>
        <div class="col group">
          <div class="content">
            <img src="../../../assets/images/monkey_with_books.png" alt="" />
            <h2>Дошкольники (6-7 лет)</h2>
            <div>
              <p class="text-b">Подготовим ребенка к школе и научим:</p>
              <ul class="check-mark">
                <li class="text">Решать примеры и задачи</li>
                <li class="text">Читать по слогам и писать</li>
                <li class="text">Различать признаки времён года</li>
                <li class="text">Основам школьных предметов</li>
                <li class="text">Решать логические задачи и др.</li>
              </ul>
              <p class="text">
                Наши задания помогут ребнку освоиться в школе и проявить свои таланты и навыки с
                первых дней. Важно, малыш полюбит процесс обучения уже сейчас!
              </p>
            </div>
            <a routerLink="/profile" class="btn btn-primary">НАЧАТЬ ЗАНИМАТЬСЯ</a>
          </div>
        </div>
      </div>
      <div class="slider position-relative">
        <ngb-carousel
          [animation]="false"
          [interval]="0"
          [showNavigationArrows]="false"
          #carouselGroups
        >
          <ng-template ngbSlide>
            <div class="group">
              <div class="content">
                <img src="../../../assets/images/monkey_with_cubs.png" alt="" />
                <h2>Малыши (3-5 лет)</h2>
                <div>
                  <p class="text-b">При помощи наших заданий детки освоят:</p>
                  <ul class="check-mark">
                    <li class="text">Цифры и арифметические знаки</li>
                    <li class="text">Цвета и формы</li>
                    <li class="text">Буквы, звуки и слоги</li>
                    <li class="text">Фигуры и их признаки</li>
                    <li class="text">Название животных и др.</li>
                  </ul>
                  <p class="text">
                    Также наши упражнения развивают логику, мышление, внимание и память ребёнка.<br />
                    А главное — это интересно и эффективно!
                  </p>
                </div>
                <a routerLink="/profile" class="btn btn-primary">НАЧАТЬ ЗАНИМАТЬСЯ</a>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="group">
              <div class="content">
                <img src="../../../assets/images/monkey_with_books.png" alt="" />
                <h2>Дошкольники (6-7 лет)</h2>
                <div>
                  <p class="text-b">Подготовим ребенка к школе и научим:</p>
                  <ul class="check-mark">
                    <li class="text">Решать примеры и задачи</li>
                    <li class="text">Читать по слогам и писать</li>
                    <li class="text">Различать признаки времён года</li>
                    <li class="text">Основам школьных предметов</li>
                    <li class="text">Решать логические задачи и др.</li>
                  </ul>
                  <p class="text">
                    Наши задания помогут ребнку освоиться в школе и проявить свои таланты и навыки с
                    первых дней. Важно, малыш полюбит процесс обучения уже сейчас!
                  </p>
                </div>
                <a routerLink="/profile" class="btn btn-primary">НАЧАТЬ ЗАНИМАТЬСЯ</a>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
        <button class="btn btn-primary prev" (click)="carouselGroups.prev()">
          <img src="../../../../assets/images/icons/arrow-right.svg" alt="" />
        </button>
        <button class="btn btn-primary next" (click)="carouselGroups.next()">
          <img src="../../../../assets/images/icons/arrow-right.svg" alt="" />
        </button>
      </div>
    </div>
  </section>
  <section class="fourth">
    <h2 class="section-header">
      Подарки станут <span class="text-orange">отличной мотивацией</span><br />
      продолжить обучение
    </h2>
    <p class="section-label">Волшебные кристаллы можно обменять на призы!</p>
    <div class="content">
      <div class="left-content">
        <img src="../../../assets/images/cristals.svg" alt="" />
        <p class="text mb-0">
          По мере прохождения упражнений
          <span class="text-b">ребенок будет зарабатывать кристаллы,</span> а после сможет обменять
          их на призы
        </p>
      </div>
      <div class="message no-numbers">
        <h4 class="message-title">как это работает?</h4>
        <p class="message-content">
          За каждое правильно выполненное упражнение ребенок получает кристалл. По достижению
          определенного количества он сможет открыть <b>заветный сундук с подарками</b> в блоке
          задач в котором его ждут раскраски и промокоды на творческие видео-курсы.
        </p>
      </div>
    </div>
  </section>
  <section class="fifth">
    <h2 class="section-header mb-5">
      узнайте, почему <span class="text-orange">дети так рады</span><br />
      заниматься в джунгликах
    </h2>
    <div class="sliderr">
      <app-feedback-slider></app-feedback-slider>
    </div>
    <div class="cloud">
      <p class="m-0">Посмотрите <b>отзывы родителей</b></p>
    </div>
    <img class="cloud-img position-absolute" src="../../../assets/images/acuarel_big.svg" alt="" />
  </section>
  <section class="sixth">
    <h2 class="section-header mb-5">
      получите
      <span class="text-orange"
        >бесплатный доступ к первым<br />
        урокам</span
      >
      в несколько кликов
    </h2>
    <div class="content">
      <div class="message no-numbers">
        <h3 class="text-center">
          Попробуйте бесплатно пройти<br />
          20 упражнений для оценки<br />
          качества материала
        </h3>
        <a routerLink="/profile" class="btn btn-primary">НАЧАТЬ ЗАНИМАТЬСЯ</a>
        <p class="text">
          Если вы уже начали проходить упражнения,<br />
          то можете
          <a class="link-sm" routerLink="/profile">продолжить обучение</a>
        </p>
      </div>
    </div>
    <img class="cloud-img" src="../../../assets/images/acuarel_big.svg" alt="" />
    <img class="first-grass" src="../../../assets/images/grass_speredi.svg" alt="" />
    <img class="second-grass" src="../../../assets/images/grass_speredi.svg" alt="" />
  </section>
</div>
