<ng-template #newPass>
  <img class="modal-dismiss" src="../../assets/images/icons/cross.svg" (click)="dismissModal()" />
  <div class="modal-block">
    <header class="modal-nav">
      <span class="text-m active">Восстановление пароля</span>
    </header>
    <form [formGroup]="newPassForm" class="d-flex flex-column align-items-center">
      <div class="modal-inputs mb-2">
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            id="inputPassword"
            placeholder="Пароль"
          />
        </div>
      </div>
      <button class="btn btn-success w-100" (click)="restorePassword()">ВОЙТИ</button>
    </form>
  </div>
</ng-template>
