<div class="d-flex flex-wrap w-100">
  <app-user-card
    *ngFor="let child of profileService.children"
    [user]="child"
    [inactive]="child.id !== activeUserId"
    (click)="onUserClick(child.id)"
  ></app-user-card>
</div>
<div class="actions d-flex justify-content-between">
  <div class="filters text-mb">За все время</div>
  <div ngbDropdown #myDrop="ngbDropdown">
    <a class="text" href="javascript:;" ngbDropdownToggle>Получить выписку</a>
    <div ngbDropdownMenu class="cloud-dropdown">
      <p>
        Для получения выписки с информацией о покупке услуг Джунгликов, напишите нам вличном
        кабинете в разделе
        <br />
        <a routerLink="/profile/help">Помощь</a>
      </p>
    </div>
  </div>
</div>
<div class="payments">
  <div class="payment" *ngFor="let payment of payments">
    <p class="text mb-1">{{ payment.date | date: 'dd.MM.yyyy' }}</p>
    <p class="text mb-1">{{ getFormattedSum(payment.sum) }} ₽</p>
    <p class="text mb-1">{{ payment.comment }}</p>
  </div>
</div>
