@import '../../styles.less';

.nav-menu {
  width: 100%;

  .container {
    max-width: 1600px;
    margin: 0 auto;

    .menu-item {
      margin-top: 57px;
    }

    .logo {
      position: relative;

      img:nth-child(1) {
        width: 346px;
        height: 144px;
      }

      img:nth-child(2) {
        position: absolute;
        width: 197px;
        height: 38px;
        top: 49px;
        left: 75px;
      }

      img:nth-child(3) {
        position: absolute;
        top: 59px;
        left: 150px;
        z-index: 20;
      }
    }

    .button-sec {
      margin-top: 46px;
    }
  }
}
