<div class="nav-menu">
  <div class="container d-flex justify-content-between">
    <a class="menu-btn" (click)="toggleMenu()"><img src="../../assets/images/menu.svg" /></a>
    <a routerLink="/project" class="menu-item">О проекте</a>
    <a routerLink="/tasks" class="menu-item">Упражнения</a>
    <div class="logo">
      <a routerLink="/">
        <img src="../../assets/images/liana2.png" />
        <img src="../../assets/images/logo.svg" />
      </a>
      <img class="menu-monkey" *ngIf="showMonkey" src="../../assets/images/monkey_hanging.png" />
    </div>
    <a routerLink="/rates" class="menu-item">Тарифы</a>
    <button class="button-sec" (click)="logIn()" *ngIf="!loggedIn">Войти</button>
    <div class="menu-profile d-flex justify-content-center align-items-center" *ngIf="loggedIn">
      <img src="../../assets/images/icons/user-child-sm.svg" routerLink="/profile/children">
      <span class="menu-item" routerLink="/profile">Алиса</span>
      <img src="../../assets/images/icons/notifications.svg" routerLink="/profile/notifications">
      <img src="../../assets/images/icons/exit.svg" (click)="logOut()">
    </div>
  </div>
</div>

<div *ngIf="showMenu" class="menu-togg">
  <div class="menu-tc">
    <img class="menu-close" (click)="toggleMenu()" src="../../assets/images/cross-menu.svg" />
    <div class="menu-info">
      <a (click)="toggleMenu()" routerLink="/project" class="menu-item">О проекте</a>
      <a (click)="toggleMenu()" routerLink="/tasks" class="menu-item">Упражнения</a>
      <a (click)="toggleMenu()" routerLink="/rates" class="menu-item">Тарифы</a>
      <button class="button-sec" routerLink="/profile">Войти</button>
      <span class="subt">Мы в соцсетях:</span>
      <div class="menu-icons d-flex align-items-center">
        <img src="../../assets/images/icons/vk.svg" />
        <img src="../../assets/images/icons/youtube.svg" />
        <img src="../../assets/images/icons/tiktok.svg" />
        <img src="../../assets/images/icons/facebook.svg" />
        <img src="../../assets/images/icons/instagram.svg" />
      </div>
    </div>
  </div>
</div>
