@import '../../variables.less';

.nav-menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  min-width: @min-width;

  .container {
    .menu-btn {
      display: none;
    }

    .menu-item {
      margin-top: 57px;
      letter-spacing: 0.02em;
    }

    .logo {
      position: relative;
      a {
        z-index: 30;
        img:nth-child(1) {
          width: 346px;
          height: 164px;
        }

        img:nth-child(2) {
          position: absolute;
          width: 197px;
          height: 38px;
          top: 50px;
          left: 75px;
        }
      }

      .menu-monkey {
        position: absolute;
        top: 107px;
        left: 130px;
        z-index: 20;
        width: 170px;
      }
    }

    .button-sec {
      margin-top: -4px;
    }

    .menu-profile {
      margin-top: 50px;
      min-width: 185px;
      text-align: end;

      .profile-img {
        width: 40px;
        height: 40px;
      }

      img:nth-child(2) {
        margin-right: 12px;
      }
      img {
        cursor: pointer;

        &.menu-profileicon {
          width: 40px;
          height: 40px;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
      img:nth-child(4) {
        margin-right: 12px;
      }

      span {
        margin-top: 0;
        margin-right: 12px;

        &:active,
        &:focus {
          outline: none;
        }
      }

      .alert {
        padding: 0;
        margin: 0;
        margin-right: 10px;
        position: relative;

        .alert-new {
          top: 0;
          right: 10px;
          position: absolute;

          img {
            position: absolute;
            top: -2px;
            right: -13px;
          }

          span {
            position: absolute;
            top: -2px;
            right: -20px;
            font-family: Open Sans;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: white;
          }
        }
      }
    }
  }
}

.alert-message {
  min-height: 384px;
  span {
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 1200px) {
  .nav-menu {
    margin-bottom: 50px;
    .container {
      .logo {
        .menu-monkey {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-menu {
    .container {
      max-width: 90%;
      padding: 0;
      a.menu-item {
        font-size: 14px;
        margin-top: -4px;
      }
      .menu-profile {
        margin-top: 0;

        .button-sec {
          font-size: 14px;
          width: 90px;
          height: 37px;
        }

        .profile-name {
          font-size: 14px;
        }
      }
      .logo {
        a {
          img:nth-child(1) {
            width: 207px;
            height: 101px;
          }

          img:nth-child(2) {
            position: absolute;
            width: 106px;
            height: 20px;
            top: 40px;
            left: 50px;
          }
        }
        .menu-monkey {
          top: 61px;
          left: 54px;
          width: 136px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .nav-menu {
    background-color: #e4f4e7;
    .container {
      min-height: 80px;
      align-items: center;
      .menu-profile {
        margin-top: 0;
        min-width: unset;

        img:nth-child(2) {
          margin-right: 8px;
        }
        img {
          &:active,
          &:focus {
            outline: none;
          }
        }
        img:nth-child(4) {
          margin-right: 8px;
        }

        span {
          margin-right: 8px;
        }
      }
      .menu-btn {
        display: block;
      }
      .menu-item {
        display: none;
      }
      .logo {
        a {
          img:nth-child(1) {
            display: none;
          }
          img:nth-child(2) {
            position: unset;
          }
        }
        .menu-monkey {
          display: none !important;
        }
      }

      .button-sec {
        border: 2px solid @dark-green;
        margin: 0;
      }
    }
  }

  .menu-togg {
    background-color: #e4f4e7;
    z-index: 101;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .menu-tc {
      padding: 2rem;
      width: 100%;
      position: relative;

      .menu-info {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;
      }

      .menu-close {
        width: 35px !important;
        position: absolute;
        right: 19px;
        top: 19px;
      }

      .menu-item {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .button-sec {
        border: 2px solid @dark-green;
        margin-bottom: 46px;
      }

      span.subt {
        font-size: 16px;
        margin-bottom: 14px;
      }

      .menu-icons {
        margin-bottom: 40px;

        img {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .nav-menu {
    .container {
      .logo {
        img:nth-child(2) {
          width: 146.22px !important;
          height: 28px !important;
        }
      }

      .menu-profile {
        img:nth-child(4) {
          margin-right: 0;
        }
      }

      .button-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 19px;
        font-weight: 600 !important;
        font-size: 14px !important;
        width: 74px !important;
        height: 31px !important;
      }
    }
  }

  .menu-togg {
    width: 100%;
    .menu-tc {
      width: 100%;
      padding: 19px;
      position: relative;

      .menu-info {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;

        .button-sec {
          width: 92px;
          height: 34px;
        }

        .menu-close {
          width: 35px !important;
          position: absolute;
          right: 19px;
          top: 19px;
        }

        .menu-item {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .button-sec {
          border: 2px solid @dark-green;
          margin-bottom: 46px;
        }

        span.subt {
          font-size: 16px;
          margin-bottom: 14px;
        }

        .menu-icons {
          margin-bottom: 40px;

          img {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
