<div class="nav-menu">
    <div class="container d-flex flex-row justify-content-around">
        <a routerLink="/project" class="menu-item">О проекте</a>
        <a routerLink="/tasks" class="menu-item">Упражнения</a>
        <a routerLink="/" class="logo">
            <img src="../../assets/images/liana.png">
            <img src="../../assets/images/logo.png">
            <img *ngIf="showMonkey" src="../../assets/images/monkey_hanging.png">
        </a>
        <a routerLink="/rates" class="menu-item">Тарифы</a>
        <button class="button-sec" (click)="logIn()">Войти</button>
    </div>
</div>