@import '../../../variables.less';

section {
  padding-top: 10rem;
  margin-bottom: 145px;
  .container {
    padding: 0;
    max-width: 1200px;
    .profile-nav {
      ul {
        margin-right: 80px;
        padding: 0;
        margin-bottom: 20px;
      }
      .message {
        padding: 20px 26px;
        width: 270px;
        height: 351px;
        span:nth-child(1) {
          color: @orange;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
  }
}
