<div class="container">
  <form [formGroup]="taskForm">
    <div class="row d-flex flex-column">
      <div class="col-4">
        <div class="form-group">
          <label>Тип задачи</label>
          <ng-select [items]="taskTypes" bindLabel="name" bindValue="id" formControlName="type" class='validation-highlight'>
            <ng-template ng-label-tmp let-item="item">
              {{ item.name | taskLabel }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.name | taskLabel }}
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <label>Добавление вопросов</label>
          <a (click)="addQuestion()"><img src="../../../../assets/images/icons/plus.svg" /></a>
        </div>
        <div class="mb-4">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel
              [title]="question.get('name').value || 'Вопрос'"
              *ngFor="let question of questionForms; let i = index"
            >
              <ng-template ngbPanelContent>
                <form [formGroup]="question">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Имя вопроса</label>
                        <input type="text" class="form-control" formControlName="name" />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Тип вопроса</label>
                        <ng-select
                          appendTo="body"
                          [items]="answerTypes"
                          bindLabel="name"
                          bindValue="id"
                          formControlName="type"
                        >
                          <ng-template ng-label-tmp let-item="item">
                            {{ item.name | answerLabel }}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item">
                            {{ item.name | answerLabel }}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <ng-container [ngSwitch]="question.get('type').value">
                      <app-create-answer
                        *ngSwitchCase="answerType.Choice"
                        [answersFormArray]="getAnswersArray(question)"
                      ></app-create-answer>
                      <app-create-variant
                        *ngSwitchCase="answerType.Variants"
                        [variantsFormArray]="getVariantsArray(question)"
                      ></app-create-variant>
                    </ng-container>
                  </div>
                  <button (click)="deleteQuestion(i)">Удалить вопрос</button>
                </form>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="addTask()">Сохранить</button>
  </form>
</div>
