<div class="container">
  <form [formGroup]="taskForm">
    <div class="row d-flex flex-column">
      <div class="col-4">
        <div class="form-group">
          <label>Тип задачи</label>
          <ng-select [items]="taskTypes" formControlName="type" bindLabel="name" bindValue="id">
            <!-- <ng-template ng-label-tmp let-item="item">
              {{ item.name | taskLabel }}
            </ng-template> -->
          </ng-select>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <label>Добавление вопросов</label>
          <a (click)="addQuestion()"><img src="../../../../assets/images/icons/plus.svg" /></a>
        </div>
        <div class="mb-4">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel
              [title]="getQuestionForm(question).get('name').value"
              *ngFor="let question of questionsData; let i = index"
            >
              <ng-template ngbPanelContent>
                <form [formGroup]="getQuestionForm(question)">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Имя вопроса</label>
                        <input type="text" class="form-control" formControlName="name" />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Тип вопроса</label>
                        <select class="form-control" formControlName="type">
                          <option *ngFor="let type of questionType" [value]="type.id">
                            {{ type.name | answerLabel }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{
                      this.taskForm.get('type').value == 1 ? 'Ответы' : 'Варианты'
                    }}</label>
                    <button></button>
                    <app-create-answer
                      *ngIf="this.taskForm.get('type').value == 1"
                      [question]="question"
                    ></app-create-answer>
                    <app-create-variant
                      *ngIf="this.taskForm.get('type').value == 2"
                      [question]="question"
                    ></app-create-variant>
                  </div>
                  <button (click)="deleteQuestion(i)">Удалить вопрос</button>
                </form>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="addTask()">Сохранить</button>
  </form>
</div>
