.container {
  padding: 0;
}

.first {
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5rem;
  background-image: url(../../../assets/images/tigr2.png);
  background-repeat: no-repeat;
  background-size: auto 22rem;
  background-position: 30% 20%;
  position: relative;
  .cloud {
    position: absolute;
    top: 5rem;
    left: 35rem;
    width: 28rem;
    padding: 3rem 3rem 3.5rem 6rem;
    background-image: url(../../../assets/images/cloud.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  .rate {
    position: relative;
    overflow: visible;
    min-width: 17.5rem;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../../../assets/images/grass_speredi2.png);
      background-repeat: no-repeat;
      background-size: auto 80%;
      z-index: 1;
      //   background-position: center;
    }

    &:nth-of-type(1) {
      &::before {
        left: -21%;
        right: auto;
        bottom: -18%;
        transform: rotate(321deg);
        background-size: auto 90%;
      }
      margin-right: 0;
    }
    &:nth-of-type(2) {
      &::before {
        right: -6%;
        left: auto;
        bottom: -28%;
        transform: rotate(261deg);
        background-size: auto 90%;
      }
    }
    &:nth-of-type(3) {
      &::before {
        left: 23%;
        right: auto;
        bottom: -21%;
        transform: rotate(244deg);
        background-size: auto 80%;
      }
    }
    .message {
      position: relative;
      z-index: 2;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    h3 {
      font-family: Museo Cyrl !important;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.02em;
    }
  }
}

.second {
  .col-12 {
    display: flex;
    align-items: center;
    padding-right: 5rem;
    margin-bottom: 2rem;
    img {
      height: 2rem;
      margin-right: 2rem;
    }
    p {
      width: 320px;
    }
  }
}

@media (max-width: 1200px) {
  .first {
    .rate {
      &::before {
        display: none;
      }
    }
    .cloud {
      left: 32rem;
    }
  }
}

@media (max-width: 991px) {
  .first {
    min-height: 70rem;
    .cloud {
      left: 20rem;
      top: 2rem;
    }

    .rate {
      &:nth-of-type(2) {
        margin-right: 0;
      }
      &:nth-of-type(3) {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .first {
    min-height: 88rem;
    align-items: center;
    .cloud {
      background-image: url(../../../assets/images/cloud5.png);
      left: auto;
      top: 2rem;
      width: 25rem;
      padding: 2rem 3rem 3.5rem 5rem;
    }

    .rate {
      min-width: 18rem;
      &::before {
        display: block;
      }
      &:nth-of-type(1) {
        &::before {
          left: -24%;
          right: auto;
          bottom: -16%;
          transform: rotate(325deg);
          background-size: auto 90%;
        }
        margin-right: 0;
      }
      &:nth-of-type(2) {
        &::before {
          right: -18%;
          left: auto;
          bottom: -14%;
          transform: rotate(250deg);
          background-size: auto 90%;
        }
      }
      &:nth-of-type(3) {
        &::before {
          left: -16%;
          right: auto;
          bottom: -21%;
          transform: rotate(273deg);
          background-size: auto 80%;
        }
      }
      margin-top: 30px;
    }
  }

  .second {
    .col-12 {
      padding-right: 15px;
    }
  }

  h2 {
    font-size: 25px;
  }
}

.line-throught {
  text-decoration: line-through;
}

@media (max-width: 568px) {
  .first {
    min-height: 77rem;
    .rate {
      padding-left: 1rem;
      padding-right: 1rem;
      &:nth-of-type(1) {
        &::before {
          left: -14%;
          right: auto;
          bottom: -4%;
          transform: rotate(325deg);
          background-size: auto 90%;
        }
      }
      &:nth-of-type(2) {
        &::before {
          right: -18%;
          left: auto;
          bottom: -2%;
          transform: rotate(250deg);
          background-size: auto 90%;
        }
      }
      &:nth-of-type(3) {
        &::before {
          left: -17%;
          right: auto;
          bottom: -7%;
          transform: rotate(273deg);
          background-size: auto 80%;
        }
      }
      .message {
        padding: 15px;
        h3 {
          font-size: 24px;
          margin-bottom: 0;
        }
        .btn {
          margin: 0 auto;
          width: 80% !important;
          height: 40px;
        }
      }
    }
  }
}
