<div class="container">
  <section class="first">
    <h2 class="text-center">Выбери тариф <span class="text-orange">для обучения</span></h2>
    <div class="cloud">
      <p class="text mb-0">
        <b>Полный доступ</b> к упражнениям, обучающим играм и заданиям на указанный срок
      </p>
    </div>
    <div class="d-flex align-items-center flex-wrap justify-content-center">
      <div class="rate">
        <div class="message no-numbers">
          <h3>1 мес</h3>
          <p class="subt mb-1">В месяц: 400 ₽</p>
          <p class="subt mb-4">К оплате: <span class="text-b">400 ₽</span></p>
          <button class="btn btn-success w-100">Оплатить</button>
        </div>
      </div>
      <div class="rate">
        <div class="message no-numbers">
          <h3>3 мес</h3>
          <p class="subt mb-1">
            В месяц:
            <span [ngClass]="{ 'text-b text-orange': showDiscount }"
              >{{ showDiscount ? threeMonthPrice * discount : threeMonthPrice }} ₽</span
            >
          </p>
          <p class="subt mb-4">
            К оплате:
            <span class="text-b line-throught"
              >{{ showDiscount ? threeMonthPrice * 3 : basePrice * 3 }} ₽</span
            >
            <span class="text-b ml-2"
              >{{ showDiscount ? threeMonthPrice * discount * 3 : threeMonthPrice * 3 }} ₽</span
            >
          </p>
          <button class="btn btn-success w-100">Оплатить</button>
        </div>
      </div>
      <div class="rate">
        <div class="message no-numbers">
          <h3>6 мес</h3>
          <p class="subt mb-1">
            В месяц:
            <span [ngClass]="{ 'text-b text-orange': showDiscount }"
              >{{ showDiscount ? sixMonthPrice * discount : sixMonthPrice }} ₽</span
            >
          </p>
          <p class="subt mb-4">
            К оплате:
            <span class="text-b line-throught"
              >{{ showDiscount ? sixMonthPrice * 6 : basePrice * 6 }} ₽</span
            >
            <span class="text-b ml-2"
              >{{ showDiscount ? sixMonthPrice * discount * 6 : sixMonthPrice * 6 }} ₽</span
            >
          </p>
          <button class="btn btn-success w-100">Оплатить</button>
        </div>
      </div>
    </div>
  </section>
  <section class="second mb-5">
    <h2 class="text-center mb-5">
      <span class="text-orange">Оплачивая подписку</span> у нас,<br />
      вы получаете:
    </h2>
    <div class="row m-0">
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/pencil.png" alt="" />
        <p class="text-mb mb-0">Неограниченный доступ к 3000 упражнениям на разные темы;</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/book.png" alt="" />
        <p class="text-mb mb-0">Занятия для детей в игровой форме;</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/light.png" alt="" />
        <p class="text-mb mb-0">Авторские задания с фото, аудио и видео сопровождением;</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/logic.png" alt="" />
        <p class="text-mb mb-0">Развитие творческих и креативных способностей ребёнка;</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/book.png" alt="" />
        <p class="text-mb mb-0">Возможность получить призы в системе поощрений и мотивации;</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../../../assets/images/pencil.png" alt="" />
        <p class="text-mb mb-0">Счастливых детей, которые любят учиться и заниматься!</p>
      </div>
    </div>
  </section>
</div>
