<div class="container">
  <section class="first">
    <h2 class="text-center">ВЫБЕРИ ТАРИФ <span class="text-orange">ДЛЯ ОБУЧЕНИЯ</span></h2>
    <div class="cloud">
      <p class="text mb-0">
        <b>Полный доступ</b> к упражнениям, <br />обучающим играм и заданиям<br />
        на указанный срок
      </p>
    </div>
    <div class="d-flex align-items-center flex-wrap justify-content-center">
      <div class="rate">
        <div class="message green no-numbers">
          <h3>1 мес</h3>
          <p class="subt mb-1">В месяц: 400 ₽</p>
          <p class="subt mb-2 mb-sm-4">К оплате: <span class="text-b">400 ₽</span></p>
          <button class="btn btn-success w-100">Оплатить</button>
        </div>
      </div>
      <div class="rate">
        <div class="message green no-numbers">
          <h3>3 мес</h3>
          <p class="subt mb-1">
            В месяц:
            <span class="text-b text-orange"
              >{{ showDiscount ? threeMonthPrice * discount : threeMonthPrice }} ₽</span
            >
          </p>
          <p class="subt mb-2 mb-sm-4">
            К оплате:
            <span class="text-b line-throught"
              >{{ showDiscount ? threeMonthPrice * 3 : basePrice * 3 }} ₽</span
            >
            <span class="text-b ml-2"
              >{{ showDiscount ? threeMonthPrice * discount * 3 : threeMonthPrice * 3 }} ₽</span
            >
          </p>
          <button class="btn btn-success w-100">Оплатить</button>
        </div>
      </div>
      <div class="rate">
        <div class="message green no-numbers">
          <h3>6 мес</h3>
          <p class="subt mb-1">
            В месяц:
            <span span class="text-b text-orange"
              >{{ showDiscount ? sixMonthPrice * discount : sixMonthPrice }} ₽</span
            >
          </p>
          <p class="subt mb-2 mb-sm-4">
            К оплате:
            <span class="text-b line-throught"
              >{{ showDiscount ? sixMonthPrice * 6 : basePrice * 6 }} ₽</span
            >
            <span class="text-b ml-2"
              >{{ showDiscount ? sixMonthPrice * discount * 6 : sixMonthPrice * 6 }} ₽</span
            >
          </p>
          <button class="btn btn-success w-100">Оплатить</button>
        </div>
      </div>
    </div>
  </section>
  <section class="second mb-5">
    <h2 class="text-center mb-5">
      <span class="text-orange">ОПЛАЧИВАЯ ПОДПИСКУ</span> У НАС,<br />
      ВЫ ПОЛУЧАЕТЕ:
    </h2>
    <div class="row m-0">
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-end">
        <img src="../../../assets/images/check_mark.png" alt="" />
        <p class="text-mb mb-0">
          Неограниченный доступ к 3000<br />
          упражнениям на разные темы;
        </p>
      </div>
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-start">
        <img src="../../../assets/images/check_mark.png" alt="" />
        <p class="text-mb mb-0">
          Развитие творческих и креативных<br />
          способностей ребёнка;
        </p>
      </div>
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-end">
        <img src="../../../assets/images/check_mark.png" alt="" />
        <p class="text-mb mb-0">
          Занятия для детей в игровой<br />
          форме;
        </p>
      </div>
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-start">
        <img src="../../../assets/images/check_mark.png" alt="" />
        <p class="text-mb mb-0">
          Возможность получить призы<br />
          в системе поощрений и мотивации;
        </p>
      </div>
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-start">
        <img src="../../../assets/images/check_mark.png" alt="" />
        <p class="text-mb mb-0">
          Авторские задания с фото, аудио<br />
          и видео сопровождением;
        </p>
      </div>
      <div class="col-12 col-lg-6  justify-content-center justify-content-lg-end">
        <img src="../../../assets/images/check_mark.png" alt="" />
        <p class="text-mb mb-0">
          Счастливых детей, которые любят<br />
          учиться и заниматься!
        </p>
      </div>
    </div>
  </section>
</div>
