@import '../variables.less';

main {
  flex-grow: 1;
  padding-top: 6rem;

  &.menu-hidden {
    padding: 1.5rem 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    height: 100%;
  }
}
.breadcrumb-sm {
  display: none;
}
nav {
  ol {
    background-color: transparent;
    color: @grey;
    li {
      &::before {
        color: @grey;
      }
      a {
        color: @grey;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    display: none;
  }

  .breadcrumb-sm {
    display: block;
    color: @grey;
    span {
      display: flex;
      align-items: center;
      outline: none;
    }
    svg {
      margin-right: 10px;
      path {
        fill: @grey;
      }
      transform: rotate(90deg);
    }
  }
}
