@import '../../../../variables.less';
@import '../achives.less';

.backdrop {
  z-index: 110;
  background-color: @green;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  opacity: 0.8;
}

.pop-over-backdrop {
  z-index: 130 !important;
  background-color: #91c29c;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  opacity: 0.6;
}

.question-menu {
  .question-menu-item {
    a {
      height: 60px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border: none !important;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Open Sans;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      color: @dark-green;
      letter-spacing: -0.01em;
      border-radius: 0;
      &.active {
        background-color: @orange;
      }

      &.done,
      &.failed,
      &.active {
        color: #ffffff;
      }

      &.done {
        background-color: @green !important;
      }
      &.failed {
        background-color: @red !important;
      }
    }
  }
}

.sound-btn {
  box-shadow: none !important;
  outline: none !important;
}

.container {
  width: 100vw;
  height: 100%;
  z-index: 120;
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  .close-task-btn {
    min-width: 60px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 2px 7px 1px rgba(45, 98, 85, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 18px;
      width: 18px;
    }
    flex-grow: 0;
  }
  .task-container {
    height: calc(100% - 76px);
    max-height: 800px;
    min-height: 388px;
    width: 100%;
    border-radius: 50px;
    flex-grow: 1;
    overflow: hidden;
    background-color: #fff;
    .question-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .question {
        height: 40% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Museo Cyrl;
        font-style: normal;
        flex-grow: 1;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: @dark-green;

        .question-img {
          max-height: 200px;
          height: 60%;
          min-height: 80px;
          width: auto;
        }
        .try-again,
        .cristals-result {
          margin-top: 0;
          height: 100%;
          position: relative;
          img {
            width: auto;
            left: calc(50% + 50px);
            position: absolute;
            margin-right: 0;
            z-index: 5;
            margin-top: 0 !important;
            &.cristal {
              bottom: 40%;
              height: 20%;
            }
            &.tigr {
              left: unset;
              right: 50%;
              bottom: 0;
              height: 60% !important;
            }
          }
          span.cloud {
            left: 48% !important;
            bottom: 60% !important;
            width: 252px !important;
            height: 146px !important;
            font-size: 24px !important;
            position: absolute;
            padding: 30px 20px 60px 34px;
            background: no-repeat url(../../../../assets/images/failed_task_cloud.svg) center / 100%
              100%;
            font-size: 26px;
            color: @orange;
            text-transform: none;
            font-weight: normal;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .points {
            position: absolute;
            left: 50%;
            bottom: calc(50% - 1em);
            display: flex;
            white-space: nowrap;
          }
        }
        .try-again {
          span.cloud {
            left: 48% !important;
            bottom: 60% !important;
            padding: 30px 20px 60px 34px;
            width: 284px !important;
            height: 164px !important;
            font-size: 18px !important;
          }
        }
      }
      .answer-container {
        height: 60%;
        background-color: @light-grey;
        max-height: 304px;
        .answers {
          height: calc(100% - 82px);
          display: flex;
          justify-content: center;
          padding: 2%;
          margin-right: -20px;
          align-items: flex-start;

          .answer {
            &.img {
              height: 100%;
              max-height: 160px;
              justify-content: center;
              width: auto;
              padding: 1rem;
              flex-grow: unset;
              display: inline-block;

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }

            cursor: pointer;
            min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            box-shadow: 0px 2px 4px 1px rgba(45, 98, 85, 0.2);
            border-radius: 30px;
            border: 4px solid #ffffff;
            flex-grow: 1;
            text-align: center;
            margin-right: 20px;

            overflow: hidden;

            &:not(.disabled):hover,
            &.active {
              border-color: @orange !important;
            }
            &.disabled {
              opacity: 0.5;
            }
          }
        }
        .btns {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 24px;
          .btn-success,
          .btn-primary,
          .main-btn {
            margin: 0 100px;
            width: 245px;
            height: 58px;
          }

          .btn-outline-success:not(.main-btn),
          .sound-btn {
            line-height: 50px;
            min-width: 120px;
            height: 50px;
            padding: 0;
          }

          .sound-btn {
            svg {
              height: 30px;
              width: auto;
            }
          }

          .btn-outline-success:not(.main-btn):first-child {
            opacity: 0;
          }
        }
      }
    }
  }
  .stats {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 36px;
    padding-top: 72px;
    min-width: 200px;

    order: -1;
    flex-grow: 1;
    flex-direction: row;
    width: 50%;
    padding: 0;
    align-items: center;
    margin-bottom: 10px;
    .achives {
      margin-left: 10px;
      margin-right: 1rem;
      &.chest {
        text-align: end;

        &::before {
          left: -14px;
          right: auto;
        }
      }
    }
    .today-tasks {
      // order: -1;
      margin-right: 1rem;
    }
    .first-try {
      display: none !important;
    }

    .try-count {
      position: relative;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      /* orang */

      background: @orange;
      box-shadow: 0px 2px 4px 1px rgba(45, 98, 85, 0.2);
      border-radius: 50%;

      font-family: Museo Cyrl;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      /* identical to box height */

      letter-spacing: 0.02em;
      text-transform: uppercase;

      color: #ffffff;
    }

    .question-icon {
      position: absolute;
      left: 28px;
      top: -5px;
      z-index: 15;
      width: 25px;
    }
  }
}

@media (max-width: 767px) {
  .backdrop {
    opacity: 1;
  }
  body {
    overflow: hidden !important;
  }
  .container {
    padding: 0;
    max-width: unset;
    align-items: unset !important;
    top: 0;
    left: 0;
    width: 100%;
    .variants {
      .col {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .variant {
          padding: 10px !important;
        }
      }
    }
    .task-container {
      border-radius: 30px;
      height: calc(100% - 52px);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      flex-direction: column;
      .tab-content {
        flex-grow: 1;
      }
      .question-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .question {
          padding: 0.5rem;

          flex-grow: 1;

          & > span {
            font-size: 14px;
            line-height: 17px;
          }
          img.question-img {
            min-height: 100px;
            height: 100px;
          }
          .cristals-result,
          .try-again {
            width: 100%;
            position: relative;
            img {
              &.tigr {
                right: 35%;
              }
              &.cristal {
                bottom: 0;
                left: 50%;
              }
            }
            span.cloud {
              height: 100px !important;
              width: 200px !important;
              left: 25% !important;
              bottom: calc(60% + 20px);
              padding: 10px 10px 28px 14px;
              font-size: 16px !important;
            }
            &.failed {
              color: @red;
            }
            .points {
              left: calc(50% + 70px);
              bottom: 0;
            }
          }
          .try-again {
            img {
              &.tigr {
                left: 0;
              }
            }
            span.cloud {
              height: 142px !important;
              width: 278px !important;
              left: calc(50% - 68px) !important;
              padding: 26px 10px 28px 22px;
            }
          }
        }
        .btns {
          height: 120px;
        }
      }

      .answer-container {
        padding-top: 10px !important;
        max-height: unset !important;
        height: unset !important;

        .answers {
          padding: 0 0.5rem 5px !important;
          flex-wrap: wrap;
          height: unset !important;
          margin-left: auto;
          margin-right: auto !important;
          max-width: 518px;
          .answer {
            margin: 5px !important;
            border-radius: 10px !important;
            &.img {
              max-height: 110px !important;
              max-width: 150px !important;
              height: 90px !important;
              width: 150px !important;
            }
          }
        }
      }

      .nav-tabs {
        .question-menu-item {
          a {
            height: 30px !important;
            font-size: 12px;
          }
        }
      }
    }
    .stats {
      padding-left: 1rem;
      .today-tasks {
        margin-right: 0.5rem;
      }
      .achives {
        margin-right: 0.5rem;
        span {
          line-height: 26px;
          font-size: 14px;
        }
        &.cristals {
          width: 52px !important;
          &::before {
            height: 39px;
            width: 32px;
            left: -10px;
          }
        }
        &.chest {
          width: 52px !important;
          &::before {
            height: 30px;
            width: 38px;
          }
        }
      }
      .try-count {
        width: 32px;
        height: 32px;
        font-size: 20px;
      }
      .question-icon {
        display: none !important;
      }
    }
    .close-task-btn {
      margin-right: 1rem;
      min-width: 30px;
      height: 30px;
      border-radius: 12px;
      align-self: center;
      margin-bottom: 14px;
      img {
        height: 12px;
        width: 12px;
      }
    }
    .btns {
      flex-wrap: wrap;
      justify-content: space-between !important;
      padding-bottom: 0 !important;
      .main-btn {
        order: -1;
        margin: 0 0 10px 0 !important;
        width: 100% !important;
      }
      .help-btn {
        height: 0 !important;
      }
      .sound-btn {
        width: 100%;
        svg {
          height: 24px !important;
        }
      }
    }
  }
}

@media (max-width: 499px) and (max-height: 700px) {
  .container {
    .task-container {
      .question-container {
        .question {
          .try-again {
            img {
              &.tigr {
                max-height: 200px;
                height: 67% !important;
              }
            }
            span.cloud {
              bottom: unset !important;
              height: 130px !important;
              font-size: 14px !important;
              padding: 26px 20px 60px 34px;
              width: 269px !important;
            }
          }
          .cristals-result {
            width: 100%;
            img {
              &.tigr {
                max-height: 200px;
                height: 90% !important;
                left: 0;
              }
              &.cristal {
                max-height: 60px;
                height: 80%;
                bottom: 0;
                left: 34%;
              }
            }
            .points {
              bottom: 44%;
              left: 44% !important;
            }
            span.cloud {
              bottom: unset !important;
              top: 5%;
              left: 45% !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-height: 890px) {
  .container {
    .task-container {
      .question-container {
        .question {
          .try-again {
            img {
              &.tigr {
                max-height: 200px;
                height: 90% !important;
              }
            }
            span.cloud {
              bottom: unset !important;
              height: 130px !important;
              font-size: 14px !important;
              padding: 26px 20px 60px 34px;
              width: 269px !important;
            }
          }
          .cristals-result {
            width: 100%;
            img {
              &.tigr {
                max-height: 200px;
                height: 90% !important;
                right: 60%;
              }
              &.cristal {
                max-height: 60px;
                height: 80%;
                bottom: 40%;
                left: 45%;
              }
            }
            .points {
              bottom: 44%;
              left: 41% !important;
            }
            span.cloud {
              bottom: unset !important;
              top: 5%;
              left: 53% !important;
              background: no-repeat url(../../../../assets/images/cloud9.svg) center / 100% 100%;
              padding: 0 !important;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .stats {
      .label {
        display: none;
      }
      .today-tasks {
        order: -1;
      }
    }
  }
}
