<div class="backdrop"></div>
<div class="container d-flex">
  <div class="close-task-btn"><img src="../../assets/images/icons/cross.svg" /></div>
  <div class="task-container">
    <ul ngbNav #nav="ngbNav" class="nav-tabs row m-0 question-menu">
      <li
        ngbNavItem
        class="question-menu-item col p-0"
        *ngFor="let question of questions; let index = index"
      >
        <a ngbNavLink>{{ index + 1 }}</a>
        <ng-template ngbNavContent>
          <ng-container [ngSwitch]="question.type">
            <ng-container *ngSwitchCase="answerType.Choice">
              <ng-container
                *ngTemplateOutlet="choice; context: { question: question }"
              ></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="answerType.Variants">
              <ng-container
                *ngTemplateOutlet="variants; context: { question: question }"
              ></ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <div class="stats">
    <div class="achives chest">
      <span>0</span>
    </div>
    <div class="achives cristals">
      <span>20</span>
    </div>
    <div class="d-flex align-items-center">
      <app-pie-chart [percent]="(6 / 20) * 100" [color]="'#FF952C'" [label]="'6'"></app-pie-chart>
      <span class="ml-1"
        >Упражений<br />
        сегодня</span
      >
    </div>
    <div class="d-flex align-items-center">
      <app-pie-chart [percent]="(6 / 6) * 100" [color]="'#7EE1E4'" [label]="'6'"></app-pie-chart>
      <span class="ml-1"
        >Упражений<br />
        с 1 попытки</span
      >
    </div>
  </div>
</div>

<ng-template #choice let-question="question">
  <div class="question-container question-choice">
    <div class="question">
      {{ question.name }}
    </div>
    <div class="answer-container">
      <div class="answers">
        <div class="answer text-b" *ngFor="let answer of question.answers">{{ answer.name }}</div>
      </div>
      <ng-container *ngTemplateOutlet="btns"></ng-container>
    </div>
  </div>
</ng-template>
<ng-template #variants let-question="question">
  <div class="question-container question-variants">
    <div class="question">
      {{ question.name }}
    </div>
    <div class="answer-container" cdkDropListGroup>
      <div
        class="answers"
        [id]="'answers'"
        cdkDropList
        cdkDropListOrientation="horizontal"
        cdkDropListSortingDisabled
        [cdkDropListData]="question.answers"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="answer text-b" *ngFor="let answer of question.answers" cdkDrag>
          {{ answer.name }}
        </div>
      </div>
      <div class="variants row">
        <div class="col" *ngFor="let variant of question.variants">
          <span class="d-block variant-label text-b">{{ variant.name }}</span>
          <div
            class="variant"
            cdkDropList
            [id]="'variant-' + variant.id"
            cdkDropListSortingDisabled
            [cdkDropListData]="variant.answers"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="answer text-b" *ngFor="let answer of variant.answers" cdkDrag>
              {{ answer.name }}
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="btns"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #btns>
  <div class="btns">
    <button class="btn btn-outline-success">Помощь</button>
    <button class="btn btn-success">Принять ответ</button>
    <button class="btn btn-outline-success">Звук</button>
  </div>
</ng-template>
