@import '../../../../variables.less';

section {
  width: 100%;
  margin-left: 80px;

  .children {
    .data {
      margin-bottom: 56.38px;
      span:nth-child(1) {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 14px;
      }
      button.btn-primary {
        width: 230px;
        height: 57.07px;
      }
    }
  }

  .add-btn {
    width: 238px;
    margin-bottom: 20px;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
    span {
      font-weight: 600;
      font-family: Open Sans;
      font-size: 14px;
    }
  }

  .child-reg {
    span.subt {
      color: @grey;
    }
  }

  .child-add {
    width: 340px;
    height: 750px;

    form {
      span.text-mb {
        margin-bottom: 31px !important;
      }
      div {
        margin-bottom: 24px;
        img {
          margin-right: 10px;
        }
        .subt {
          color: @grey;
        }
      }
      button.btn-success {
        width: 183px;
        height: 47.56px;
      }
    }
  }
}
