<section>
  <!-- <div class="profile">
    <img src="../../../../assets/images/icons/user-parent.svg" />
    <div class="profile-content">
      <div class="profile-label">
        <span>Родитель</span>
        <img src="../../../../assets/images/icons/pen.svg" />
      </div>
      <div class="profile-info">
        <h4>Марина Кравцова</h4>
        <span class="subt">kravtsova@mail.ru</span>
      </div>
    </div>
  </div> -->
  <div class="profile">
    <app-user-card [user]="profileService.user" [showActions]="true"></app-user-card>
  </div>

  <ng-container *ngIf="profileService.children.length; else noData">
    <div class="children" *ngFor="let child of profileService.children">
      <div class="profile">
        <app-user-card [user]="child" [showActions]="true" (delete)="deleteChild()"></app-user-card>
      </div>

      <div class="data d-flex flex-column justify-content-start align-items-start">
        <span>Тариф: {{ child.fare }} месяц</span>
        <div class="d-flex flex-lg-row flex-column justify-content-start align-items-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../../../assets/images/payment-circle.png" />
            <span class="mb-lg-0 mb-3">Дней до конца подписки</span>
          </div>
          <button class="btn btn-primary">Продлить тариф</button>
        </div>
      </div>
    </div>

    <div
      class="add-btn d-flex justify-content-start align-items-center"
      *ngIf="!showAddForm"
      (click)="toggleAddForm()"
    >
      <img src="../../../../assets/images/icons/plus.svg" />
      <span>Добавить ребёнка</span>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="child-reg" *ngIf="!showAddForm">
      <div
        class="add-btn d-flex justify-content-start align-items-center"
        (click)="toggleAddForm()"
      >
        <img src="../../../../assets/images/icons/plus.svg" />
        <span>Зарегистрировать ребенка</span>
      </div>
      <span class="subt">Вы пока не зарегистрировали ни одного ребёнка</span>
    </div>
  </ng-template>

  <div class="child-add" *ngIf="showAddForm">
    <form>
      <p class="text-mb">Регистрация {{ countChildren() }}ребёнка</p>
      <div class="d-flex justify-content-start align-items-center">
        <img src="../../../../assets/images/icons/user-child-sm.svg" />
        <span class="text">Добавить фото</span>
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Имя" />
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Фамилия" />
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Дата рождения" />
      </div>
      <button class="btn btn-success">сохранить</button>
    </form>
  </div>
</section>
