<section>
  <div class="profile">
    <app-user-card [user]="profileService.user" [showActions]="true"></app-user-card>
  </div>

  <ng-container *ngIf="profileService.children.length; else noData">
    <div class="children" *ngFor="let child of profileService.children">
      <div
        class="profile"
        (click)="setActive(child.id)"
        [ngClass]="{ active: child.id === pickedUserId }"
      >
        <app-user-card [user]="child" [showActions]="true" (delete)="deleteChild()"></app-user-card>
      </div>

      <div class="data d-flex flex-column justify-content-start align-items-start">
        <span>Тариф: {{ child.fare }} месяц</span>
        <div
          class="d-flex flex-lg-row flex-column justify-content-start align-items-center align-items-md-start align-items-lg-center"
        >
          <div class="data-graph d-flex flex-column justify-content-center align-items-center">
            <app-pie-chart [percent]="50" [size]="130" [label]="'28/32'"></app-pie-chart>
            <span class="mb-lg-0 mb-3 text-muted">Дней до конца подписки</span>
          </div>
          <button class="btn btn-primary mb-4 mt-4 mt-md-0" routerLink="/rates">
            Продлить тариф
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <div
    class="add-btn d-flex justify-content-start align-items-center mb-5"
    *ngIf="!showAddForm"
    (click)="toggleAddForm()"
  >
    <img src="../../../../assets/images/icons/plus.svg" />
    <span>Добавить ребёнка</span>
  </div>

  <ng-template #noData>
    <div class="child-reg" *ngIf="!showAddForm">
      <div
        class="add-btn d-flex justify-content-start align-items-center"
        (click)="toggleAddForm()"
      >
        <img src="../../../../assets/images/icons/plus.svg" />
        <span>Зарегистрировать ребенка</span>
      </div>
      <span class="subt">Вы пока не зарегистрировали ни одного ребёнка</span>
    </div>
  </ng-template>

  <div class="child-add" *ngIf="showAddForm">
    <form>
      <p class="text-mb">Регистрация {{ countChildren() }}ребёнка</p>
      <div class="d-flex justify-content-start align-items-center">
        <img src="../../../../assets/images/icons/user-child-sm.svg" />
        <span class="text">Добавить фото</span>
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Имя" />
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Фамилия" />
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Дата рождения" />
      </div>
      <button class="btn btn-success">сохранить</button>
    </form>
  </div>
</section>
<span class="subt text-center close-btn" routerLink="/profile">Свернуть</span>

<ng-template #message>
  <img src="../../../assets/images/icons/cross3.svg" (click)="closeModal()" />
  <span class="text-b text-orange modal-title">Выбор профиля</span>
  <div class="modal-body">
    <div class="d-flex flex-column justify-content-center align-items-start">
      <p class="text mb-0 text-align-center">
        Перед началом выполнения упражнений, выберите профиль ребенка, так сохраняться его успехи и награды!
      </p>
    </div>
  </div>
</ng-template>
