<section>
  <div class="profile" *ngIf="!showParentEditForm">
    <app-user-card [user]="userService.user" [showActions]="true" (edit)="onEditParent()"></app-user-card>
  </div>
  <div *ngIf="showParentEditForm" class="change-form">
    <form [formGroup]="changeParentForm">
      <p class="text-mb">Редактирование профиля родителя</p>
      <div class="change-form-photo d-flex justify-content-start align-items-center">
        <img src="../../../../assets/images/icons/user-child-sm.svg" class="mr-3"/>
        <span class="text text-muted">Добавить фото</span>
      </div>
      <div class="form-group">
        <input class="ch-input" formControlName="name" />
      </div>
      <div class="form-group">
        <input class="ch-input" formControlName="surname" />
      </div>
      <div class="form-group">
        <input type="email" class="ch-input" formControlName="email" />
      </div>
      <button class="btn btn-small btn-success" (click)="editParent()">сохранить</button>
    </form>
  </div>

  <ng-container *ngIf="userService.user?.children?.length; else noData">
    <div class="children" *ngFor="let child of userService.user.children">
      <div
        class="profile"
        (click)="setActive(child.id)"
        [ngClass]="{ active: child.id == userService.activeChildId }"
        *ngIf="!child.editing"
      >
        <app-user-card [user]="child" [showActions]="true" (edit)="onEditChild(child)"></app-user-card>
      </div>

      <div *ngIf="child.editing" class="change-form">
        <form [formGroup]="changeChildForm">
          <p class="text-mb mb-4">Редактирование профиля ребёнка</p>
          <div class="change-form-photo d-flex justify-content-start align-items-center mb-4">
            <img src="../../../../assets/images/icons/user-child-sm.svg" class="mr-3"/>
            <span class="text text-muted">Добавить фото</span>
          </div>
          <div class="form-group">
            <input class="ch-input" formControlName="name" />
          </div>
          <div class="form-group">
            <input class="ch-input" formControlName="surname" />
          </div>
          <div class="form-group">
            <input type="date" class="ch-input" formControlName="dateOfBirth" />
          </div>
          <div class="change-form-delete d-flex align-items-start mb-4" (click)="openDeleteChildModal(child, delChild)">
            <img src="../../../../assets/images/icons/delete.svg" class="mr-1">
            <span class="subt text-muted">Удалить данные о ребёнке (прогресс будет потерян)</span>
          </div>
          <button class="btn btn-small btn-success mb-5" (click)="editChild(child)">сохранить</button>
        </form>
      </div>

      <div class="data d-none flex-column justify-content-start align-items-start" *ngIf="!child.editing">
        <span>Тариф: {{ child.fare }} месяц</span>
        <div
          class="d-flex flex-lg-row flex-column justify-content-start align-items-center align-items-md-start align-items-lg-center"
        >
          <div class="data-graph d-flex flex-column justify-content-center align-items-center">
            <app-pie-chart [percent]="50" [size]="130" [label]="'28/32'"></app-pie-chart>
            <span class="mb-lg-0 mb-3 text-muted">Дней до конца подписки</span>
          </div>
          <button class="btn btn-primary mb-4 mt-4 mt-md-0" routerLink="/rates">
            Продлить тариф
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <div
    class="add-btn d-flex justify-content-start align-items-center mb-5"
    *ngIf="userService.user?.children?.length"
    (click)="toggleAddForm()"
  >
    <img src="../../../../assets/images/icons/plus.svg" />
    <span>Добавить ребёнка</span>
  </div>

  <ng-template #noData>
    <div class="child-reg" *ngIf="!showAddForm">
      <div
        class="add-btn d-flex justify-content-start align-items-center"
        (click)="toggleAddForm()"
      >
        <img src="../../../../assets/images/icons/plus.svg" />
        <span>Зарегистрировать ребенка</span>
      </div>
      <span class="subt">Вы пока не зарегистрировали ни одного ребёнка</span>
    </div>
  </ng-template>

  <div class="change-form" *ngIf="showAddForm">
    <form [formGroup]="addChildForm">
      <p class="text-mb">Регистрация {{ countChildren() }}ребёнка</p>
      <div class="change-form-photo d-flex justify-content-start align-items-center">
        <img src="../../../../assets/images/icons/user-child-sm.svg" class="mr-3"/>
        <span class="text text-muted">Добавить фото</span>
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Имя" formControlName="name" />
      </div>
      <div class="form-group">
        <input class="ch-input" placeholder="Фамилия" formControlName="surname" />
      </div>
      <div class="form-group">
        <label class="text text-muted mb-2">Дата рождения</label>
        <input
          type="date"
          class="ch-input"
          placeholder="Дата рождения"
          formControlName="dateOfBirth"
        />
      </div>
      <button class="btn btn-small btn-success" (click)="addChild()">сохранить</button>
    </form>
  </div>
</section>
<span class="subt text-center close-btn" routerLink="/profile">Свернуть</span>

<ng-template #message>
  <img src="../../../assets/images/icons/cross3.svg" (click)="closeModal()" />
  <span class="text-b text-orange modal-title">Выбор профиля</span>
  <div class="modal-body">
    <div class="d-flex flex-column justify-content-center align-items-start">
      <p class="text mb-0 text-align-center">
        Перед началом выполнения упражнений, выберите профиль ребенка, так сохраняться его успехи и
        награды!
      </p>
    </div>
  </div>
</ng-template>

<ng-template #delChild>
  <div class="modal-block text-center d-flex flex-column align-items-center">
    <span class="text-mb mb-4">Подтвердите удаление профиля ребёнка</span>
    <button class="btn btn-failure mb-4" (click)="deleteChild()">Удалить</button>
    <span class="text-muted text" (click)="closeModal()">Отмена</span>
  </div>
</ng-template>
