<div class="modal-header">
  <h5 class="modal-title">Сохранение ответа на вопрос</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form *ngIf="answer" [formGroup]="answer">
    <div class="form-group">
      <label>Имя</label>
      <input class="form-control" ngbAutofocus type="text" formControlName="name" />
    </div>

    <div class="row">
      <div class="col">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input position-relative"
            formControlName="isCorrect"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">Верный ответ</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <file-uploader formControlName="image" (path)="savePath($event)"
            ><img [src]="answer.get('imagePath').value"
          /></file-uploader>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
  <button type="button" class="btn btn-primary" (click)="changeAnswer()">Сохранить</button>
</div>
