<div ngbDropdown [container]="'body'" class="answer-selector d-flex flex-wrap">
  <div
    class="answer validation-highlight"
    *ngFor="let answer of answersForms; let i = index"
    [formGroup]="answer"
    [ngClass]="{ 'ng-touched ng-invalid': answer.invalid && answer.touched, 'isVariant': isVariant }"
  >
    <span
      [textContent]="answer.get('name').value"
      (input)="setText($event, answer)"
      contenteditable="true"
    ></span>
    <input *ngIf="!isVariant" class="form-check-input ml-2" type="radio" [value]="true" name="isCorrect" formControlName="isCorrect" />
    <div class="actions d-flex align-items-center">
      <div class="act-btn mr-1 bg-danger" (click)="deleteAnswer(i)">×</div>
      <div class="act-btn bg-primary" (click)="addAnswer()">+</div>
    </div>
  </div>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <file-uploader> </file-uploader>
  </div>
</div>
<div *ngIf="!answers.length" class="act-btn bg-primary mt-3" (click)="addAnswer()">+</div>
