<div class="container">
  <section class="first">
    <h2 class="section-header">О ПРОЕКТЕ</h2>
    <div class="message d-flex flex-column">
      <span class="parag1 text-m">
        <span class="text-orange"><b>Джунглики</b></span> — онлайн-развитие ребёнка, которое
        способствует подготовке к школе и детскому саду. Мы занимается развивашками с детьми разных возрастов, чтобы
        обеспечить развитие всех умственных, интеллектуальных и коммуникативных навыков. Тем самым
        мы помогаем детям не только подготовиться к школе, но и к успешной самостоятельной жизни.
      </span>
      <span class="parag2 text-m">
        <b>Онлайн-формат</b> помогает нам выполнять задачи развития детей, не зависимо от
        местоположения. При этом вы сможете спокойно совмещать наши уроки с другими занятиями.
        Помогайте своему малышу добиться успехов: способствуйте его всестороннему развитию! А мы
        поможем с этим вам.
      </span>
    </div>
  </section>

  <div class="container second-cont">
    <section class="second">
      <h2 class="section-header">ЧЕМ МЫ <span class="text-orange">ЗАНИМАЕМСЯ</span></h2>
      <p class="section-label">
        Мы подготовили 2 программы<br class="d-lg-none" />
        для разных возрастов.
      </p>
      <div class="section-body">
        <div class="content">
          <h3>Вместе с нами дети легко и с интересом освоят:</h3>
          <ul class="check-mark">
            <li class="text">Буквы, цифры, цвета;</li>
            <li class="text">Счёт, чтение, письмо;</li>
            <li class="text">Знания об окружающем нас мире;</li>
            <li class="text">Решение логических задач;</li>
            <li class="text">Развитие мышления, памяти и внимания;</li>
            <li class="text">Развивающие игры;</li>
            <li class="text">
              Знания из различных областей науки,
              адаптированные <br> под возрастные особенности.
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section class="third">
      <h2 class="section-header"><span class="text-orange">ПОЧЕМУ У НАС</span> ИНТЕРЕСНО</h2>
      <p class="section-label">
        В базе наших заданий собраны разнообразные<br class="d-lg-none d-md-inline d-none" />
        материалы для обучения<br class="d-lg-inline d-none" />
        и виды деятельности, которые<br class="d-lg-none d-md-inline d-none" />
        придутся по вкусу всем непоседам.
      </p>
      <div class="section-body">
        <div class="dialogs">
          <div class="dialog-1">
            <span class="text">На протяжении всех <b>занятий в Джунгиках детей сопровождают</b> веселые яркие
              персонажи, а также профессиональная озвучка упражнений.
            </span>
          </div>
          <div class="dialog-2">
            <span class="text">
              Они <b>объясняют задания, помогают с ними,</b> обязательно
              <b>поддерживают и хвалят ребят</b><br class="d-lg-none" />
              в процессе подготовки к садику и школе!
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section class="fourth">
      <h2 class="section-header"><span class="text-orange">ЧТО</span> ЖДЁТ ДЕТЕЙ</h2>
      <div class="section-body">
        <div class="content">
          <div class="messages">
            <div class="message">
              <img src="../../../assets/images/logic.png" alt="" />
              <ul>
                <li>Система мотивации и поощрений реальными призами;</li>
                <li>Разнообразные интересные задания;</li>
                <li>Авторские развивающие игры;</li>
              </ul>
            </div>
            <div class="message">
              <img src="../../../assets/images/light.png" alt="" />
              <ul>
                <li>Фото и аудио сопровождение;</li>
                <li>Творческое развитие;</li>
                <li>Тематические занятия;</li>

              </ul>
            </div>
            <div class="message">
              <img src="../../../assets/images/pencil.png" alt="" />
              <ul>
                <li>Индивидуальный подход к каждому;</li>
                <li>Системный подход к развитию ребёнка;</li>
                <li>Плавный переход от простых уровней к сложным;</li>
              </ul>
            </div>
          </div>
        </div>
        <h3>
          С Джунгиками ребенок полюбит учиться,<br class="d-lg-inline d-none" />
          ведь здесь это интересно<br class="d-lg-none" />
          и увлекательно!
        </h3>
        <a class="btn btn-primary" routerLink="/tasks">Начать заниматься</a>
      </div>
    </section>
  </div>
</div>