<section *ngIf="alerts; else noData">
  <div class="d-flex flex-column justify-content-start align-items-start">
    <span class="notif-header">Уведомления</span>
    <div
      class="notif d-flex justify-content-between align-items-center"
      [ngClass]="{ nseen: !alert.seen }"
      *ngFor="let alert of alerts"
    >
      <span class="text-b d-block" [innerHTML]="alert.text"></span>
      <img src="../../../../assets/images/icons/eye.svg" />
    </div>
  </div>
</section>

<ng-template #noData>
  <span class="text-mb">Вы пока не добавили детей. Сделать это можно в <a routerLink="/children">личном кабинете</a></span>
</ng-template>

<span class="subt text-center close-btn" routerLink="/profile">Свернуть</span>
