@import './variables.less';

/* Fonts */
@font-face {
  font-family: Museo Cyrl;
  src: url(./assets/fonts/MuseoCyrl700.otf);
}

@font-face {
  font-family: Museo Cyrl Bold;
  src: url(./assets/fonts/MuseoCyrl900.otf);
}

@font-face {
  font-family: Open Sans;
  src: url(./assets/fonts/opensans.ttf);
}

@font-face {
  font-family: Open Sans Bold;
  src: url(./assets/fonts/opensansbold.ttf);
}

@font-face {
  font-family: Open Sans Light;
  src: url(./assets/fonts/opensanslight.ttf);
}

/*  Text Styles */

h1 {
  font-family: Museo Cyrl Bold;
  font-style: normal;
  color: @dark-green;
  letter-spacing: 0.02em;
}

h2,
h3,
h4,
.price,
.price-old,
.price-new {
  font-family: Museo Cyrl;
  font-style: normal;
  color: @dark-green;
  letter-spacing: 0.02em;
}

h1 {
  font-weight: 700;
  font-size: 2.75rem;
}

h2 {
  font-weight: 600;
  font-size: 2.25rem;
}

h3 {
  font-weight: 600;
  font-size: 1.375rem;
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
}

.price {
  font-weight: 400;
  font-size: 1.25rem;
}

.price-old {
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
  text-decoration-color: @orange;
}

.price-new {
  font-weight: 600;
  font-size: 1.5rem;
  color: @orange;
}

h3,
.menu-item,
.text-mb,
.text-m,
.text-b,
.text,
.subt {
  font-family: Open Sans;
  color: @dark-green;
}

.menu-item {
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.text-mb {
  font-weight: 600;
  font-size: 1.125rem;
}

.text-m {
  font-weight: 400;
  font-size: 1.125rem;
}

.text-b {
  font-weight: 700;
  font-size: 1rem;
}

.text {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.subt {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
}

.text-orange {
  color: @orange;
}

/*  Clickable Elements Styles */

.btn {
  border: 0;
  border-radius: 55px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.btn-primary {
  border-bottom: 4px solid @light-brown;
  background: linear-gradient(182.07deg, #ffc081 1.75%, #ff9b38 74.75%);
  box-shadow: 0px 5px 12px rgba(207, 120, 34, 0.4);
  color: @brown;
  width: 353px;
  height: 78px;

  &:hover {
    border-bottom: 4px solid @light-brown;
    box-shadow: 0px 0px 20px 8px rgba(207, 120, 34, 0.4);
    color: @brown;
  }

  &:focus,
  &:active {
    outline: none;
    border-bottom: 4px solid @light-brown;
    box-shadow: 0px 0px 20px 8px rgba(207, 120, 34, 0.4);
  }
}

.btn-success {
  border-bottom: 4px solid #42674e;
  background: linear-gradient(0.63deg, #4b7d55 23.7%, #6da262 85.35%);
  box-shadow: 0px 5px 12px rgba(66, 103, 78, 0.4);
  color: white;
  width: 237px;
  height: 67px;

  &:hover {
    border-bottom: 4px solid @light-brown !important;
    background: linear-gradient(182.07deg, #ffc081 1.75%, #ff9b38 74.75%);
    box-shadow: 0px 0px 10px 5px rgba(207, 120, 34, 0.4);
    color: #5f3812;
  }

  &:focus,
  &:active {
    outline: none;
    border-bottom: 4px solid #42674e;
    box-shadow: 0px 5px 12px rgba(66, 103, 78, 0.4);
  }
}

.btn-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffbb78 0%, #ff9c3a 100%);
  color: @brown;
}

.button-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid @dark-green;
  border-radius: 31px;
  height: 49px;
  width: 119px;
  background-color: transparent;
  text-align: center;
  color: @dark-green;
}

/* Modal */

.modal-backdrop {
  background-color: #f0f0f0;
  opacity: 0.75;
}

.modal-reg {
  .modal-dialog {
    margin-top: 50px;

    .modal-content {
      border: 0;
      width: 402px;
      height: 492px;
      box-shadow: 0px 0px 20px rgba(47, 73, 21, 0.25);
      border-radius: 10px;

      .modal-dismiss {
        cursor: pointer;
        position: absolute;
        top: -27px;
        right: -33px;
        width: 27px;
        height: 27px;
      }
    }
  }
}

.modal-log {
  .modal-dialog {
    margin-top: 50px;
  }

  .modal-content {
    border: 0;
    width: 402px;
    height: 370, 28px;
    box-shadow: 0px 0px 20px rgba(47, 73, 21, 0.25);
    border-radius: 10px;

    .modal-dismiss {
      cursor: pointer;
      position: absolute;
      top: -27px;
      right: -33px;
      width: 27px;
      height: 27px;
    }
  }
}

.modal-block {
  margin: 0 auto;
  padding: 40px;
}

.modal-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;

  span {
    cursor: pointer;

    &.active {
      font-weight: 700;
    }
  }
}

.modal-inputs {
  input {
    width: 322px;
    height: 55px;
    font-size: 14px;
    font-weight: 600;
    color: @grey;
    font-family: Open Sans;
    border-radius: 25px;
    border: 1px solid @green;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 18px 25px;
  }
}

.modal-bck-discount {
  background-color: @green;
  opacity: 0.4;
}

.modal-discount {
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      border: 0;
      width: 402px;
      box-shadow: 0px 0px 20px rgba(47, 73, 21, 0.25);
      border-radius: 10px;

      .modal-body {
        padding: 21px 19px 31px 38px;

        img {
          cursor: pointer;
          position: absolute;
          top: 12.62px;
          right: 14.25px;
          z-index: 10;
        }

        .modal-title {
          margin-top: 21px;
          margin-bottom: 12px;
        }
      }
    }
  }
}

/*  Main Styles */

html {
  background-image: url('./assets/images/fon.png');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  min-width: 370px;
  min-height: 100%;
}

body {
  background-color: transparent;
  min-width: 370px;
  color: @dark-green;
  min-height: 100vh;
}

ul {
  &.check-mark {
    list-style-image: url('./assets/images/check_mark.png');
    padding-left: 28px;
    li {
      padding-left: 9px;
      margin-bottom: 17px;
    }
  }
}

ul {
  &.pr-menu {
    list-style: none;

    li {
      width: 270px;
      height: 55px;
      text-align: center;
      padding: 15px 0px;
      box-shadow: 0px 0px 10px rgba(66, 103, 78, 0.25);
      border-radius: 30px;
      background: #ffffff;
      margin-bottom: 15px;

      &.active {
        border: 2px solid #91c29c;
      }

      &:active,
      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.nobr {
  white-space: nowrap;
}

.section-header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.section-label {
  text-align: center;
  margin-bottom: 70px;
  &:extend(.text-mb);
  font-size: 18px;
  line-height: 25px;
}

.link-sm {
  color: inherit;
  position: relative;
  &:hover {
    text-decoration: none;
    color: inherit;
  }

  text-decoration: none;
  padding-bottom: 3px;
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    @dark-green 1px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0) 100px
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    @dark-green 1px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0) 100px
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    @dark-green 1px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0) 100px
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    @dark-green 1px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0) 100px
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 1px,
    @dark-green 1px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0) 100px
  );
}

.message {
  background-color: @light-grey;
  border: 7px solid @light-green;
  &.green {
    border-color: @green;
  }
  border-radius: 12px;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  &.no-numbers {
    flex-direction: column;
    align-items: flex-start;
  }
  .message-title {
    text-transform: uppercase;
  }
  .message-number {
    font-family: Open Sans Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    margin-right: 1.2rem;
  }

  .message-content {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
  }
}

input.ch-input {
  width: 100%;
  height: 40px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: Open Sans;
  color: @grey;
  font-size: 16px;
  padding: 9px 16px;
  border: 0;

  &::placeholder {
    font-family: Open Sans;
    color: @grey;
    font-size: 16px;
  }
}

app-feedback-slider {
  padding: 0 !important;
  .slider {
    & > .btn {
      height: 38px;
      width: 38px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      &.prev {
        left: -3rem;
      }

      &.next {
        right: -3rem;
      }
    }
    .carousel-indicators {
      bottom: 1.8rem;
    }
    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;
      }
    }
  }
}

@media (min-width: 1350px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}
app-feedback-slider,
.slider {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  * {
    outline: none;
  }
  .carousel-indicators {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    li {
      background-color: @grey;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      opacity: 1;

      &[aria-selected='true'] {
        height: 8px;
        width: 8px;
        background-color: @orange;
      }
    }
  }

  & > .btn {
    height: 38px;
    width: 38px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    &:focus, &:active {
      box-shadow: none;
    }

    &.prev {
      left: 0;
      img {
        transform: rotate(-180deg);
      }
    }

    &.next {
      right: 0;
    }
  }
}

app-payments {
  .slider {
    .carousel-indicators {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  html {
    background: none;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
  }
  h3 {
    font-size: 16px;
  }
  .section-label {
    font-size: 14px;
  }
  .btn {
    padding: 10px 30px;
  }
  .text {
    font-size: 14px;
  }
  .message {
    .message-number {
      font-size: 44px;
    }
    .message-content {
      font-size: 14px;
    }
  }

  section.fifth {
    .sliderr {
      .slider {
        background-size: 100% 100%;
      }
    }
  }
}

app-help {
  ngb-accordion {
    .card {
      border: none;
      margin-bottom: 15px;
      overflow: visible !important;

      &:last-child {
        margin-bottom: 50px;
      }
      .card-header {
        position: relative;
        z-index: 2;
        margin-bottom: 0 !important;
        background: #e4f4e7;
        box-shadow: 0px 3px 9px rgba(68, 103, 66, 0.1);
        border-radius: 6px !important;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        border-bottom: none;

        button {
          padding-left: 20px;
          height: 100%;
          width: 100%;
          justify-content: start;
        }

        &::after {
          content: '';
          background-image: url(./assets/images/icons/arrow-down.svg);
          background-repeat: no-repeat;
          height: 10px;
          width: 20px;
          background-size: contain;
          background-position: center;
          position: absolute;
          right: 16px;
          top: calc(50% - 5px);
        }
      }

      div[role='tabpanel'] {
        position: relative;
        z-index: 1;
      }

      .btn {
        outline: none !important;
        padding: 0;
        box-shadow: none !important;
        text-decoration: none !important;
      }
    }
  }
}
