/* You can add global styles to this file, and also import other style files */
html{
    background-image: url('./assets/images/ФОН.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    background-color: transparent;
}

ul{
    &.check-mark{
        list-style-image: url('./assets/images/галка.png');

        li{
            padding-left: 0.5rem;
        }
    }
}