/* Colors */
@dark-green: #2d6255;
@green: #91c29c;
@light-green: #e4f4e7;
@orange: #ff952c;
@grey: #b6b3b3;
@light-grey: #f6fbfa;
@blue: #7ee1e4;
@yellow: #fccc4c;
@brown: #5f3812;
@light-brown: #cf7822;
@red: #ff7676;

@min-width: 370px;

@placeholder: {
  height: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: @grey;
  font-family: Open Sans Light;
};

@ivalid-input-shadow: {
  box-shadow: 0px 2px 7px rgba(255, 118, 118, 0.6) !important;
}