@import '../../styles.less';

form {
  .subt {
    line-height: 18px;
    margin-bottom: 20px;
    display: block;
  }
  .password-field {
    position: relative;
    display: flex;
    align-items: center;
    img {
      position: absolute;
      right: 14px;
      height: 14px;
      width: 14px;
    }
  }
  .reg-checks {
    margin-bottom: 20px;
  }
}
