<img class="modal-dismiss" src="../../assets/images/icons/cross.svg" (click)="modal.dismiss()">
<div class="modal-block">
    <header class="modal-nav">
        <span class="text-m" (click)="loginRed()">Войти</span>
        <span class="text-m active">Регистрация</span>
    </header>
    <form [formGroup]="regForm" class="d-flex flex-column justify-content-center">
        <div class="modal-inputs">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="FLName" id="inputFLName" placeholder="Имя Фамилия">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="Email" id="inputEmail" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="Phone" id="inputPhone" placeholder="Телефон">
            </div>
        </div>
        <div class="reg-checks">
            <div class="form-check">
                <input type="checkbox" value="" id="checkMailing">
                <label class="reg-checkl" for="checkMailing">
                        Согласие на рассылку новостей курсов
                    </label>
            </div>
            <div class="form-check">
                <input type="checkbox" value="" id="checkPersonalData">
                <label class="reg-checkl" for="checkPersonalData">
                        Согласие на обработку персональных данных
                    </label>
            </div>
        </div>
        <button class="btn btn-success">ЗАРЕГЕСТРИРОВАТЬСЯ</button>
    </form>
</div>