<form [formGroup]="regForm" class="d-flex flex-column align-items-center">
  <div class="modal-inputs">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="FLName" placeholder="Имя Фамилия" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="Email" placeholder="E-mail" />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="Phone"
        placeholder="+7 (XXX) XXX - XX - XX"
        mask="(000) 000 - 00 - 00"
        prefix="+7 "
      />
    </div>
  </div>
  <div class="reg-checks">
    <div class="form-check">
      <input type="checkbox" formControlName="CheckMailing" id="checkMailing" />
      <label class="reg-checkl" for="checkMailing"> Согласие на рассылку новостей курсов </label>
    </div>
    <div class="form-check">
      <input type="checkbox" formControlName="CheckPersonalData" id="checkPersonalData" />
      <label class="reg-checkl" for="checkPersonalData">
        Согласие на обработку персональных данных
      </label>
    </div>
  </div>
  <button class="btn btn-success w-100" (click)="regUser(regDone)">ЗАРЕГЕСТРИРОВАТЬСЯ</button>
</form>

<ng-template #regDone>
  <img class="modal-dismiss" src="../../assets/images/icons/cross.svg" (click)="dismissModal()" />
  <div class="modal-block d-flex flex-column align-items-center">
    <header class="modal-nav">
      <span class="text-m active">Добро пожаловать!</span>
    </header>
    <span class="text mb-4 text-center"
      >Вы успешно прошли регистрацию и можете начать обучение <br />прямо сейчас!</span
    >
    <button class="btn btn-success w-100 mb-4" (click)="regRedir()">ЛИЧНЫЙ КАБИНЕТ</button>
    <span class="subt text-center text-muted"
      >Подтвердите свою регистрацию по ссылке <br />в письме на вашей почте</span
    >
  </div>
</ng-template>
